.row
  .col-md-8
    .panel.panel-default
      .panel-heading
        .panel-title
          Выслать повторно письмо подтверждения регистрации
      .panel-body
        = bootstrap_form_for(resource, as: resource_name, :url => confirmation_path(resource_name), layout: :horizontal, html: { method: :post }) do |f|
          = f.email_field :email, autofocus: true
          = f.form_group do
            = f.primary 'Прислать письмо'
      .panel-footer
        = render "users/shared/links"
