.row
  = form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post, class: 'form-horizontal col-md-6' }) do |f|
    %fielset
      %legend Выслать повторно письмо подтверждения регистрации
      = devise_error_messages!
      .form-group
        = f.label :email, class: 'control-label'
        = f.email_field :email, autofocus: true, class: 'form-control'
      .form-group= f.submit "Прислать письмо", class: 'btn btn-default'
.row
  .col-md-6= render "users/shared/links"
