.navbar.navbar-default.navbar-xmas
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', aria: { collapse: 'false' }, data: { toggle: 'collapse', target: '#reddevil-collapse' } }
        %span.sr-only Toggle
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        %span.brand-letter>< R
        %span>< EDDEVIL
    .collapse.navbar-collapse#reddevil-collapse
      %ul.nav.navbar-nav
        - if can? :read, Member
          %li{class: (params[:controller] == 'members') ? 'active' : nil}
            = link_to t('member.title'), members_path
        %li{class: (%w(main calendar).include? params[:action]) ? 'active' : nil}
          = link_to t('shared.calendar'), calendar_path
        %li{class: (params[:controller] == 'docs') ? 'active' : nil}
          = link_to t('docs.title'), docs_path
        - if can? :manage, Purchase
          %li{class: (%w(purchases years).include? params[:controller]) ? 'active' : nil}
            = link_to years_path do
              = fa_icon 'shopping-cart', text: t('purchases.title')

        - if (can? :index, Substrate) || (can? :mirrors, Substrate) || (can? :index, Machine)
          %li.dropdown{class: params[:controller] == 'substrates' ? 'active' : nil}
            = link_to '#', class: 'dropdown-toggle', role: 'button', data: { toggle: 'dropdown' }, id: 'dropproduction' do
              = fa_icon 'wrench', text: t('shared.production')

            %ul.dropdown-menu(role='menu' aria-labelledby='dropproduction')
              - if can? :index, Substrate
                %li= link_to t('substrates.title'), substrates_path
              - if can? :mirrors, Substrate
                %li= link_to t('mirrors.title'), mirrors_substrates_path
              - if can? :index, Machine
                %li= link_to t('machines.title'), machines_path

      %ul.nav.navbar-nav.navbar-right
        - if (can? :read, Round) || (can? :read, Album)
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', role: 'button', data: { toggle: 'dropdown' }, id: 'dropmedia' do
              %i.fa.fa-list
              = t 'shared.media'
            %ul.dropdown-menu(role='menu' aria-labelledby='dropmedia')
              - if can? :manage, Message
                %li
                  = link_to messages_path do
                    = fa_icon 'envelope'
                    &nbsp;
                    = t 'message.title'

              - if can? :manage, User
                %li
                  = link_to users_path do
                    = fa_icon 'user'
                    &nbsp;
                    = t 'users.title'
                %li.divider

              - if can? :read, Album
                %li
                  = link_to albums_path do
                    = fa_icon 'music'
                    &nbsp;
                    = t 'shared.music'
              - if can? :read, Round
                %li
                  = link_to rounds_path do
                    = fa_icon 'futbol-o'
                    &nbsp;
                    = t('shared.sport')
              - if can? :show, [current_user, Folder]
                %li
                  = link_to [current_user, Folder] do
                    = fa_icon 'hdd-o'
                    &nbsp;
                    = t('dataset.title')

        = render 'users/userbar'