.navbar.navbar-default
  .container-fluid
    .navbar-header
      %button.navbar-toggle.collapsed{ type: 'button', aria: { collapse: 'false' }, data: { toggle: 'collapse', target: '#reddevil-collapse' } }
        %span.sr-only Toggle
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      = link_to root_path, class: 'navbar-brand' do
        %span.brand-letter>< R
        %span>< EDDEVIL
    .collapse.navbar-collapse#reddevil-collapse
      %ul.nav.navbar-nav
        %li{class: (params[:controller] == 'members') ? 'active' : nil}
          = link_to t('member.title'), members_path
        %li{class: (%w(main calendar).include? params[:action]) ? 'active' : nil}
          = link_to t('shared.calendar'), calendar_path
        %li{class: (params[:controller] == 'docs') ? 'active' : nil}
          = link_to t('docs.title'), docs_path
        %li{class: (params[:controller] == 'subscribes') ? 'active' : nil}
          = link_to t('shared.phonebook'), subscribes_path
        -if can? :manage, Purchase
          %li{class: (%w(purchases years).include? params[:controller]) ? 'active' : nil}
            = link_to years_path do
              %i.glyphicon.glyphicon-shopping-cart
              = t 'purchases.title'

        - if (can? :index, Substrate) || (can? :mirrors, Substrate) || (can? :index, Machine)
          %li.dropdown{class: params[:controller] == 'substrates' ? 'active' : nil}
            = link_to '#', class: 'dropdown-toggle', role: 'button', data: { toggle: 'dropdown' }, id: 'dropproduction' do
              %i.glyphicon.glyphicon-wrench
              = t 'shared.production'

            %ul.dropdown-menu(role='menu' aria-labelledby='dropproduction')
              -if can? :index, Substrate
                %li= link_to t('substrates.title'), substrates_path
              -if can? :mirrors, Substrate
                %li= link_to t('mirrors.title'), mirrors_substrates_path
              -if can? :index, Machine
                %li= link_to t('machines.title'), machines_path


      %ul.nav.navbar-nav.navbar-right
        -if (can? :read, Round) || (can? :read, Album) || (can? :read, Art)
          %li.dropdown
            = link_to '#', class: 'dropdown-toggle', role: 'button', data: { toggle: 'dropdown' }, id: 'dropmedia' do
              %i.glyphicon.glyphicon-list
              =t 'shared.media'
            %ul.dropdown-menu(role='menu' aria-labelledby='dropmedia')
              -if can? :manage, Message
                %li
                  = link_to messages_path do
                    %i.glyphicon.glyphicon-envelope
                    &nbsp;
                    = t 'message.title'

              - if can? :manage, User
                %li
                  = link_to users_path do
                    %i.glyphicon.glyphicon-user
                    &nbsp;
                    = t 'users.title'
                %li.divider

              - if can? :read, Album
                %li
                  = link_to albums_path do
                    %i.glyphicon.glyphicon-music
                    &nbsp;
                    = t 'shared.music'
              - if can? :read, Art
                %li
                  = link_to arts_path do
                    %i.glyphicon.glyphicon-picture
                    &nbsp;
                    = t('shared.art')
              - if can? :read, Round
                %li
                  = link_to rounds_path do
                    %i.glyphicon.glyphicon-time
                    &nbsp;
                    = t('shared.sport')
              - if user_signed_in?
                %li
                  = link_to [current_user, Folder] do
                    %i.glyphicon.glyphicon-hdd
                    &nbsp;
                    = t('dataset.title')

        = render 'users/userbar'