%ul.nav.nav-pills#redTab(role="tablist")
  %li.nav-item
    = link_to 'Дерево целей', infocenter_path, class: "nav-link #{ params[:action] == 'infocenter' ? 'active bg-success' : nil}", role: 'tab'
  %li.nav-item.dropdown
    %a.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-toggle" => "dropdown", :href => "#", :role => "button"} Оперативное управление
    .dropdown-menu
      = link_to 'Безопасноcть', security_path, class: 'dropdown-item'
      = link_to 'Качество', quality_path, class: 'dropdown-item'
      = link_to 'Исполнение заказов', orders_path, class: 'dropdown-item'
      .dropdown-item.dropdown-submenu
        %a.dropdown-item.dropdown-item-toggle{:href => "#", data: {toggle: 'dropdown'} } Затраты
        .dropdown-menu
          = link_to 'Затраты по продуктам', products_path, class: 'dropdown-item'
          = link_to 'Затраты на персонал', personal_path, class: 'dropdown-item'
      .dropdown-item.dropdown-submenu
        %a.dropdown-item.dropdown-item-toggle{:href => "#", data: {toggle: 'dropdown'}} Корпоративная культура
        .dropdown-menu
          = link_to 'Среднесписочная численность', strength_path, class: 'dropdown-item'
          = link_to 'Фонд оплаты труда', salary_path, class: 'dropdown-item'
          = link_to 'График отпусков персонала', vac_path, class: 'dropdown-item'
  %li.nav-item
    = link_to 'Проектное управление', project_path, class: "nav-link #{ params[:action] == 'project' ? 'active bg-info' : nil}", role: 'tab'
  %li.nav-item
    = link_to 'Управление проблемами', problem_path, class: "nav-link #{ params[:action] == 'problem' ? 'active bg-danger' : nil}", role: 'tab'
