- set_meta_tags title: t('shared.title')

.row
  .col.card-columns.main-blocks
    - if (can? :read, Member) && (!@bduser.empty? || !@bdusers_yesterday.empty? || !@bdusers_prevyesterday.empty?)
      .card
        - unless @bdusers_prevyesterday.empty?
          .card-header
            = t 'shared.birthdays_prevyesterday'
          .card-body
            - @bdusers_prevyesterday.keys.sort.each do |u|
              = render @bdusers_prevyesterday[u], bdclass: nil, turntext: t('member.turned'), should_be_age: false

        - unless @bdusers_yesterday.empty?
          .card-header
            = t 'shared.birthdays_yesterday'
          .card-body
            - @bdusers_yesterday.keys.sort.each do |u|
              = render @bdusers_yesterday[u], bdclass: nil, turntext: t('member.turned'), should_be_age: false

        - unless @bdusers_today.empty?
          .card-header
            = @bdusers_today.keys.count > 1 ? t('shared.birthdays_today') : t('shared.birthday_today')
          .card-body.animated.rubberBand
            - @bdusers_today.keys.sort.each do |u|
              = render @bdusers_today[u], bdclass: 'alert alert-success', turntext: t('member.turn'), should_be_age: false

        - unless @bdusers_tomorrow.empty?
          .card-header
            = t 'shared.birthdays_tomorrow'
          .card-body
            - @bdusers_tomorrow.keys.sort.each do |u|
              = render @bdusers_tomorrow[u], bdclass: nil, turntext: t('member.willturn'), should_be_age: ((DateTime.now.year + 1.month) > DateTime.now.year) ? true : false

        - unless @bdusers_month.empty?
          .card-header
            = @bdusers_month.keys.count > 1 ? t('shared.birthdays') : t('shared.birthday')
          .card-body
            - @bdusers_month.keys.sort.each do |u|
              = render @bdusers_month[u], bdclass: nil, turntext: t('member.willturn'), should_be_age: ((DateTime.now.year + 1.month) > DateTime.now.year) ? true : false
    - if !@holidays_today.empty? || !@holidays_tomorrow.empty?
      .card
        - unless @holidays_today.empty?
          .card-header
            = t 'shared.today'
            %span.text-muted= Russian.strftime(DateTime.now, '%d %B')
          .card-body
            - @holidays_today.each do |holiday|
              .text-success.mb-2= holiday[:name]
        - unless @holidays_tomorrow.empty?
          .card-header
            = t 'shared.tomorrow'
            %span.text-muted= Russian.strftime(DateTime.tomorrow, '%d %B')
          .card-body
            - @holidays_tomorrow.each do |holiday|
              .mb-2= holiday[:name]

      - unless @events.empty? && @events_soon.empty?
        .card
          - unless @events.empty?
            .card-header
              = link_to t('events.list'), [current_user, Event]
            .card-body
              .row
                .col-12= render partial: 'events/event_mini', collection: @events, locals: { diff_dates: false }

          - unless @events_soon.empty?
            .card-header
              = t 'events.future'
            .card-body
              .row
                .col-12= render partial: 'events/event_mini', collection: @events_soon, locals: { diff_dates: true }

    - if @vacations.any? || @vacations_soon.any? || @current_vacation || @current_vacations_soon
      .card
        - if current_user.member
          = render 'vacations/current_vacations',
            current_vacation: @current_vacation,
            current_vacations_soon: @current_vacations_soon,
            member: current_user.member
        - unless @vacations.empty?
          .card-header
            = t 'vacations.index'
          .card-body
            .row
              .col-3.col-lg-2
                = image_tag 'umbrella.png', class: 'img-fluid'
              .col-9.col-lg-10
                - @vacations.each do |v|
                  .mb-2
                    = v.member.fullname
                    = t('vacations.until', date: Russian.strftime(v.enddate, "%e %B"))

        - unless @vacations_soon.empty?
          .card-header
            = t 'vacations.soon'
          .card-body
            .row
              .col-3.col-lg-2
                = image_tag 'chemodan.png', class: 'img-fluid'
              .col-9.col-lg-10
                - @vacations_soon.each do |v|
                  .mb-2
                    = v.member.fullname
                    = t('vacations.start',
                      date: Russian.strftime(v.startdate, "%e %B"),
                      diff: plural(TimeDifference.between(v.enddate + 1.day, v.startdate).in_days.to_i, 'day'))

    - if @sickdays.any?
      .card
        .card-header
          = t 'vacations.index_sick'
        .card-body
          .row
            .col-3.col-lg-2
              = image_tag 'sick.png', class: 'img-fluid'
            .col-9.col-lg-10
              - @sickdays.each do |v|
                .mb-2
                  = v.member.fullname
                  = t('vacations.until_sick', date: Russian.strftime(v.startdate, "%e %B"))

    - if @tripdays.any?
      .card
        .card-header
          = t 'vacations.index_trip'
        .card-body
          .row
            .col-3.col-lg-2
              = image_tag 'trip.png', class: 'img-fluid'
            .col-9.col-lg-10
              - @tripdays.each do |v|
                .mb-2
                  = v.member.fullname
                  = t('vacations.until_trip', date: Russian.strftime(v.startdate, "%e %B"))


    - if @docs.any?
      .card
        .card-header= t 'docs.last_docs'
        .card-body
          .row= render partial: 'docs/mini_doc', collection: @docs
