- set_meta_tags title: t('shared.title')

- unless user_signed_in?
  .row
    .col-md-12
      .alert.alert-info
        %p C 12 декабря незарегистрированным участникам ограничен свободный доступ к персональным данным.

- if @messages
  .row
    .col-md-12
      - @messages.each do |message|
        .alert.alert-info
          %h4= message.title
          %p= simple_format message.content

.row.masonry(data-columns='1')
  - if (can? :read, Member) && (!@bduser.empty? || !@bdusers_yesterday.empty? || !@bdusers_prevyesterday.empty?)
    %div
      .panel.panel-default
        - unless @bdusers_prevyesterday.empty?
          .panel-heading
            .panel-title><
              = t 'shared.birthdays_prevyesterday'
          .panel-body
            - @bdusers_prevyesterday.keys.sort.each do |u|
              = render @bdusers_prevyesterday[u], bdclass: nil, turntext: t('member.turned'), should_be_age: false

        - unless @bdusers_yesterday.empty?
          .panel-heading
            .panel-title><
              = t 'shared.birthdays_yesterday'
          .panel-body
            - @bdusers_yesterday.keys.sort.each do |u|
              = render @bdusers_yesterday[u], bdclass: nil, turntext: t('member.turned'), should_be_age: false

        - unless @bdusers_today.empty?
          .panel-heading
            .panel-title><
              = @bdusers_today.keys.count > 1 ? t('shared.birthdays_today') : t('shared.birthday_today')
          .panel-body
            - @bdusers_today.keys.sort.each do |u|
              = render @bdusers_today[u], bdclass: 'alert alert-success', turntext: t('member.turn'), should_be_age: false

        - unless @bdusers_tomorrow.empty?
          .panel-heading
            .panel-title><
              = t 'shared.birthdays_tomorrow'
          .panel-body
            - @bdusers_tomorrow.keys.sort.each do |u|
              = render @bdusers_tomorrow[u], bdclass: nil, turntext: t('member.willturn'), should_be_age: ((DateTime.now.year + 1.month) > DateTime.now.year) ? true : false

        - unless @bdusers_month.empty?
          .panel-heading
            .panel-title><
              = @bdusers_month.keys.count > 1 ? t('shared.birthdays') : t('shared.birthday')
          .panel-body
            - @bdusers_month.keys.sort.each do |u|
              = render @bdusers_month[u], bdclass: nil, turntext: t('member.willturn'), should_be_age: ((DateTime.now.year + 1.month) > DateTime.now.year) ? true : false

  - if !@holidays_today.empty? || !@holidays_tomorrow.empty?
    %div
      .panel.panel-default
        - unless @holidays_today.empty?
          .panel-heading
            .panel-title
              = t 'shared.today'
              %span.text-muted= Russian.strftime(DateTime.now, '%d %B')
          .panel-body
            - @holidays_today.each do |holiday|
              %p.text-success= holiday[:name]
        - unless @holidays_tomorrow.empty?
          .panel-heading
            .panel-title
              = t 'shared.tomorrow'
              %span.text-muted= Russian.strftime(DateTime.tomorrow, '%d %B')
          .panel-body
            - @holidays_tomorrow.each do |holiday|
              %p= holiday[:name]

  - if user_signed_in?
    - unless @vacations.empty? && @vacations_soon.empty?
      %div
        .panel.panel-default
          - unless @vacations.empty?
            .panel-heading
              .panel-title><
                = t 'vacations.index'
            .panel-body
              .row
                .col-xs-2.col-md-3
                  = image_tag 'umbrella.png', class: 'img-responsive'
                .col-xs-10.col-md-9
                  - @vacations.each do |v|
                    %p
                      = v.member.full_name
                      = t('vacations.until', date: Russian.strftime(v.enddate + 1.day, "%e %B"))

          - unless @vacations_soon.empty?
            .panel-heading
              .panel-title><
                = t 'vacations.soon'
            .panel-body
              .row
                .col-xs-2.col-md-3
                  = image_tag 'chemodan.png', class: 'img-responsive'
                .col-xs-10.col-md-9
                  - @vacations_soon.each do |v|
                    %p
                      = v.member.full_name
                      = t('vacations.start',
                        date: Russian.strftime(v.startdate, "%e %B"),
                        diff: plural(TimeDifference.between(v.enddate + 1.day, v.startdate).in_days.to_i, 'day'))

- unless @docs.empty?
  .row
    .col-xs-12
      .panel.panel-default
        .panel-heading
          .panel-title><
            = t 'docs.last_docs'
        .panel-body
          = render partial: 'docs/mini_doc', collection: @docs
