- set_meta_tags title: t('shared.calendar')

.row
  .col
    .card
      .card-body
        .row
          .col
            = link_to new_calendar_path(date: (@current_date - 1.month).strftime("%Y-%m-%d")), class: 'btn btn-primary' do
              = fa_icon(:arrow_left)
              = rus_month(@current_date-1.month)
          .col.text-center
            %h1
              = rus_month(@current_date)
              = @current_date.year

          .col.text-right
            = link_to new_calendar_path(date: (@current_date + 1.month).strftime("%Y-%m-%d")), class: 'btn btn-primary' do
              = rus_month(@current_date+1.month)
              = fa_icon(:arrow_right)
        %table.table.table-sm.table-bordered
          - days = Time.days_in_month(@current_date.month, @current_date.year)
          %thead
            %tr
              %th= Member.human_attribute_name(:surname)
              - (1..days).each do |day|
                %th= day
          %tbody
            - @members.each do |member|
              - holidays = member.vacations.where('startdate <= ?', @current_date).or(member.vacations.where('enddate >= ?', @current_date))
              %tr
                %td= member.surname
                - (1..days).each do |day|
                  %td{class: is_holiday(holidays, @current_date, day) ? 'bg-danger' : nil}
