- model_class = Team
.page-header
  %h1
    = t '.title', :default => model_class.model_name.human.pluralize.titleize
    -if can? :manage, Team
      %small= link_to t('.new', :default => t("helpers.links.new")), new_team_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:title)
      %th= model_class.human_attribute_name(:type_id)
      %th= model_class.human_attribute_name(:flag_file_name)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @teams.each do |team|
      %tr
        %td= link_to team.title, team_path(team)
        %td= team.type.title
        %td= image_tag team.flag(:thumb)
        - if can? :manage, team
          %td
            = link_to t('shared.edit'), edit_team_path(team), class: 'btn btn-default btn-xs'
            = link_to t('shared.del'), team_path(team), :method => :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-xs btn-danger'


