= bootstrap_form_for @message, layout: :horizontal do |f|
  = f.text_field :title
  = f.text_area :content
  = f.form_group do
    .checkbox
      = f.check_box :close
  = f.form_group do
    = f.primary
    = link_to t('shared.cancel'), messages_path, class: 'btn btn-default'
