- content_for :sidebar do
  .bg-white.p-3= t 'message.info_html'

.card
  .card-header
    %h4
      = t 'message.title'
      %small.float-right
        = link_to t('shared.add'), new_message_path, class: 'btn btn-primary' if can? :manage, Message
  .card-body
    - if @messages.any?
      %table.table
        %tbody
          - @messages.each do |message|
            %tr
              %td
                .well
                  %b= message.title
                  %p= message.content
                  %p= l message.created_at
              - if can? :manage, Message
                %td
                  = link_to t('shared.edit'), edit_message_path(message), :class => 'btn btn-secondary btn-sm'
                  = link_to t('shared.del'), message_path(message), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-sm btn-danger'
                  - if message.close?
                    %h3
                      %span.badge.badge-danger><= t 'message.close'
    - else
      .text-center.my-5
        .h3.text-muted= t('shared.nothing')
