- model_class = Message
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @message.title
%p
  %strong= model_class.human_attribute_name(:content) + ':'
  %br
  = @message.content
%p
  %strong= model_class.human_attribute_name(:close) + ':'
  %br
  = @message.close

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), messages_path, :class => 'btn'
  = link_to t('shared.edit'), edit_message_path(@message), :class => 'btn'
  = link_to t('shared.del'), message_path(@message), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger'
