.page-header
  %h3=t 'profiles.editing'

= bootstrap_form_for [@user, @profile], layout: :horizontal do |f|
  = f.text_field :login, autofocus: true
  = f.text_field :surname
  = f.text_field :name
  = f.text_field :patronymic
  = f.file_field :avatar
  #changecolor.colorpicker-component
    = f.text_field :background_color,
      value: @profile.background_color,
      control_col: 'col-sm-3',
      prepend: content_tag(:span, content_tag(:i))
  = f.form_group do
    = f.submit class: 'btn btn-primary'
