- set_meta_tags title: (@member.fullname if @member)

.row.mt-4
  .col-md-3
    .card
      .card-body
        .row
          .col-12
            = image_tag @profile.avatar, class: 'img-fluid'
          .col-12.mt-3
            - if can? :edit, @profile
              = link_to t('profiles.edit'), edit_user_profile_path(@user), class: 'btn btn-outline-secondary btn-sm btn-block'
            - if can? :edit_roles, @user
              = link_to t('users.to_edit_roles'), edit_roles_user_path(@user), class: 'btn btn-outline-info btn-sm btn-block'

  .col-md-9
    .card.mt-2.mt-md-0
      .card-header
        .row
          .col-10
            .h3
              = @member.fullname if @member
              (#{@profile.login? ? @profile.login : @user.email})

      .card-body
        .row
          .col-md-12
            %dl.row
              %dt.col-sm-3.text-right= t 'users.has_groups'
              %dd.col-sm-9
                - @user.groups.each do |group|
                  %span.badge.badge-primary= t "user.groups.#{group}"
              %dt.col-sm-3.text-right= Member.human_attribute_name(:work_phone)
              %dd.col-sm-9= @member.work_phone || content_tag(:span, t('shared.empty'), class: 'text-muted')
              %dt.col-sm-3.text-right= Member.human_attribute_name(:short_number)
              %dd.col-sm-9= @member.short_number || content_tag(:span, t('shared.empty'), class: 'text-muted')
              %dt.col-sm-3.text-right= Member.human_attribute_name(:phone)
              %dd.col-sm-9= @member.phone || content_tag(:span, t('shared.empty'), class: 'text-muted')
              %dt.col-sm-3.text-right= Member.human_attribute_name(:email)
              %dd.col-sm-9= @member.email || content_tag(:span, t('shared.empty'), class: 'text-muted')
              %dt.col-sm-3.text-right= Member.human_attribute_name(:birth)
              %dd.col-sm-9= l(@member.birth,  format: :short) || content_tag(:span, t('shared.empty'), class: 'text-muted')

    - unless @albums.empty? || @songs.empty?
      .card.mt-3
        .card-header
          = t 'albums.my_favorites'
        .card-body
          %ul.mainlist= render @albums
          %ul.playlist= render @songs, showalbum: true
