- set_meta_tags title: @profile.fullname

.panel.panel-default
  .panel-heading
    .panel-title
      = @profile.fullname
      (#{@profile.login? ? @profile.login : @user.email})

      - if (can? :edit, @profile) || (can? :edit_roles, @user)
        %small.pull-right
          .btn-group
            %button.btn.btn-xs.btn-default.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
              = fa_icon 'cog'
            %ul.dropdown-menu.pull-right
              - if can? :edit, @profile
                %li= link_to t('profiles.edit'), edit_user_profile_path(@user)
              - if can? :edit_roles, @user
                %li= link_to t('users.to_edit_roles'), edit_roles_user_path(@user)

  .panel-body
    .row
      .col-md-3
        = image_tag @profile.avatar.url(:medium), class: 'thumbnail img-responsive'

      .col-md-9
        %dl.dl-horizontal
          %dt= t 'users.has_groups'
          %dd
            - @user.groups.each do |group|
              %span.label.label-primary= t "user.groups.#{group}"