= bootstrap_form_for @note, layout: :horizontal do |f|
  = f.text_area :content, autofocus: true, rows: 6
  = f.file_field :screenshot

  - if can? :manage, Note
    = f.select :status, options_for_select(Note::STATUS.collect { |s| [t("notes.#{s}"), s]}, @note.status)
    = f.text_area :review, rows: 6

  = f.form_group do
    = f.primary t('shared.save')
    = link_to t('shared.cancel'), notes_path, class: 'btn btn-secondary'
