- label_css_classes = { new: 'info', done: 'success', failed: 'important', later: 'warning' }
- model_class = Note

- content_for :sidebar do
  = link_to image_tag(@note.screenshot.url(:medium), class: 'img-polaroid'), @note.screenshot.url(:original), class: 'fancybox thumnbail'

.page-header
  %h4
    = t '.title', :default => model_class.model_name.human.titleize
    %span.label{class: "label-#{label_css_classes[@note.status.to_sym]}"}= t "notes.#{@note.status}"

%p= @note.content

-if can? :manage, Note
  .form-actions
    = link_to t('.edit', :default => t("helpers.links.edit")), edit_note_path(@note), :class => 'btn'
    = link_to t('.destroy', :default => t("helpers.links.destroy")), note_path(@note), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
