= form_for [substrate, subfile], html: { class: 'row' } do |f|
  .col
    .custom-file
      = f.file_field :src, required: true, class: "custom-file-input"
      = f.label :src, class: "custom-file-label" do
        = t('shared.choose_file')
  .col-2
    = f.submit t('shared.add'), class: 'btn btn-primary'
