.card-body.bg-info.text-white
  = search_form_for @q, url: request.original_url do |f|
    .row
      .col-12.col-md
        .form-group.row.mb-1
          .col
            .row
              .col.pr-0
                .input-group.input-group-sm
                  .input-group-prepend
                    .input-group-text c
                  = f.date_field :moved_at_gteq, class: 'form-control'
              .col.pl-0
                .input-group.input-group-sm
                  .input-group-prepend
                    .input-group-text до
                  = f.text_field :moved_at_lteq, class: 'form-control'
              .col
                = f.button class: 'btn btn-warning btn-sm btn-block' do
                  = fa_icon 'search', text: t('shared.to_search')
