.card
  .card-body
    .row
      .col
        %h2.mb-5.text-center
          #{t 'positions.title'} #{link_to_if @member_user, @member.petrovich_surname_name, @member.user}
    .row
      .col-md-6.offset-md-3
        .mb-5.text-center
          = link_to new_member_position_path(@member), class: 'btn btn-outline-primary' do
            = fa_icon :plus, text: t('positions.new')

        %ul.timeline
          = render @positions