= bootstrap_form_for [@member, @vacation], layout: :horizontal, html: { class: 'card' } do |f|
  .card-body
    = render 'breadcrumb', title: formtitle
    = f.hidden_field :flag, value: @vacation.flag
    = f.date_field :startdate
    = f.date_field :enddate
    = f.select :viceuser_id, Member.order(:surname).map{ |m| [m.surname_name, m.id]}, { include_blank: t('shared.select') }
  .card-footer
    = f.primary
    = link_to t('shared.back'), list_member_vacations_path(@member), class: 'btn btn-secondary float-right'