.card
  .card-body
    = render 'vacations/breadcrumb', title: t("vacations.title_member_html", member: link_to(@member.petrovich_fullname, @member.user))
    .row
      - Vacation::FLAGS.each do |flag|
        .col-12.col-lg-6.my-3{ class: "#{flag}-block"}
          .lead.mb-3.text-center
            = t "vacations.#{flag}"
          .row
            .col-3.col-lg-2
              = image_tag "#{flag}.png", class: 'img-fluid'
            .col-9.col-lg-10
              %table.table.mb-0
                = render(@vacations.where(flag: flag)) || content_tag(:span, t('shared.empty'), class: 'lead text-muted')
                - if can? :new, @member => Vacation
                  %tr
                    %td.text-center(colspan='2')
                      = link_to new_member_vacation_path(@member, flag: flag), class: 'btn btn-sm btn-outline-secondary' do
                        = fa_icon :plus, text: t('shared.add')