= bootstrap_form_for @substrate, layout: :horizontal do |f|
  - if can? :manage, :all
    = f.text_field :category, value: @substrate.category || params[:category]
  - else
    = f.hidden_field :category, value: @substrate.category || params[:category]
  = f.text_field :title
  = f.text_field :drawing
  = f.text_field :number
  - if @substrate.category == 'mirror' || params[:category] == 'mirror'
    - states = Substrate::MIRROR_STATES.collect {|state| [ t("mirrors.states.#{state}"), state]}
  - else
    - states = Substrate::STATES.collect {|state| [t("substrates.states.#{state}"), state]}
  = f.select :state, states, {include_blank: t('substrates.select')}
  - if @substrate.category == 'mirror' || params[:category] == 'mirror'
    = f.select :substrate_id, @substrates.collect {|s| [s.full_title, s.id]}, {include_blank: t('substrates.select_substrate')}, disabled: @substrates.empty?
  = f.text_field :theme
  = f.text_area :desc, rows: 4
  = f.form_group do
    = f.primary t('shared.save')
    = link_to t('shared.cancel'), :back, class: 'btn btn-default'
