.card
  .card-body
    = render 'breadcrumb', formtitle: formtitle

    = bootstrap_form_for @substrate, html: { layout: :horizontal } do |f|
      = render 'main/error', object: @substrate

      .row
        .col
          = f.text_field :title
      .row
        .col-6.col-md-3
          = f.text_field :drawing
        .col-6.col-md-3
          = f.text_field :detail
        .col-6.col-md-3
          = f.number_field :amount
        .col-6.col-md-3
          = f.text_field :contract
      .row
        .col-6.col-md-3
          = f.text_field :coating_type
        .col-6.col-md-3
          = f.text_field :wave
        .col-6.col-md-3
          = f.text_field :corner
        .col-6.col-md-3
          .mt-4
            = f.check_box :frame, custom: :switch
      .row
        .col
          = f.text_field :arrival_at, class: 'datepicker',
            value: (f.object.arrival_at.to_datetime.strftime('%d.%m.%Y') if f.object.arrival_at.present?)
          = f.text_field :arrival_from
        .col
          = f.text_field :shipping_at, class: 'datepicker',
            value: (f.object.shipping_at.to_datetime.strftime('%d.%m.%Y') if f.object.shipping_at.present?)
          = f.text_field :shipping_to
          = f.text_field :shipping_base
      .row
        .col
          = f.select :status, {}, {}, { class: 'selectpicker' } do
            - Substrate::STATUSES.each do |s|
              = content_tag(:option, s, value: s, data: { content: status_text(s) }, selected: s == f.object.status )

        .col
          = f.select :priority, {}, {}, { class: 'selectpicker' } do
            - Substrate::PRIORITIES.each do |s|
              = content_tag :option,
                t("substrates.priorities.#{s}"),
                value: s,
                data: { content: priority_select_tag(s) },
                selected: (f.object.priority == s)
      .row
        .col
          = f.text_area :desc

      = f.submit t('shared.save')
