- index = substrate_counter + 1
= content_tag_for(:tr, substrate, class: "substrate-title #{substrate.state_css}") do
  %td= index
  %td
    = link_to substrate.title, substrate
    %span.substrates-actions
      - if can? :manage, Substrate
        = link_to edit_substrate_path(substrate), class: 'btn-small btn' do
          %span.icon.icon-pencil
  %td= substrate.drawing
  %td= substrate.number
  %td.substrate-state= best_in_place substrate, :state, as: :select, collection: Substrate::STATES.collect {|state| [ state, t("substrates.states.#{state}")]}, inner_class: 'substrate-select', data: {place_success: substrate.id}, class: 'remote-link'
  %td= substrate.desc
  %td.substrate_user= link_to substrate.user.profile.surname, user_profile_path(substrate.user) if substrate.user
