- index = substrate_counter + 1

- css_class = substrate.category == 'mirror' ? substrate.state : substrate.state_css
= content_tag_for(:tr, substrate, class: css_class) do
  %td(style="position:relative")
    = index
    - if can? :manage, Substrate
      .handle-box
        .handle
          %i.icon-move.icon-white
  %td.substrate-title
    = link_to substrate.title, substrate
    %span.substrates-actions
      - if can? :manage, Substrate
        = link_to edit_substrate_path(substrate), class: 'btn-small btn' do
          %span.icon.icon-pencil
  %td= substrate.drawing
  %td= substrate.number
  %td.substrate-state
    - if can? :manage, Substrate
      - if substrate.category == 'mirror'
        - states = Substrate::MIRROR_STATES.collect {|state| [ state, t("mirrors.states.#{state}")]}
      - else
        - states = Substrate::STATES.collect {|state| [ state, t("substrates.states.#{state}")]}
      = best_in_place substrate, :state, as: :select, collection: states, inner_class: 'substrate-select', data: {place_success: substrate.id}, class: 'remote-link'
    - else
      = t "#{substrate.states}.states.#{substrate.state}"
  %td= substrate.theme
  %td= substrate.desc
  %td.substrate_user= link_to substrate.user.profile.surname, user_profile_path(substrate.user) if substrate.user
