%tr
  %td
    .text-muted= l(version.created_at, format: "%-d.%m.%Y %H:%M:%S")
  %td
    - if version.actor
      = link_to version.actor do
        = version.actor.member ? version.actor.surname_name : version.actor.email
  %td
    - if version.event == 'create'
      Создание: #{link_to version.item.title, version.item}
    - elsif version.event == 'update'
      Обновление: #{link_to version.item.title, version.item}
    - else
      [#{version.event}]

  %td
    - if version.event == 'update'
      %ul.list-group.list-group-flush.list-group-sm
        - version.changeset.each do |changeitem|
          %li.list-group-item.p-1
            .row
              .col
                %strong= Substrate.human_attribute_name(changeitem[0])
              .col= changeitem[1][0] ? content_tag(:span, t('shared.empty'), class: 'text-muted') : changeitem[1][0]
              .col
                - if changeitem[1][1]
                  - case changeitem[0]
                  - when 'finished_at'
                    = short_date changeitem[1][1]
                  - when 'statuses_mask'
                    = t("substrates.statuses.#{Substrate::STATUSES[changeitem[1][1]]}")
                  - when 'priorityx'
                    = new_priority_tag changeitem[1][1]
                  - else
                    = changeitem[1][1]
