- set_meta_tags title: t('shared.history')

.card
  .card-header
    - if params[:action] == 'changes'
      = render 'application/breadcrumb', titles: [link_to(@substrate.title, @substrate), t('shared.history')], class_name: Substrate
    - else
      = render 'application/breadcrumb', titles: [t('shared.history')], class_name: Substrate
  .card-body
    .row
      .col
        - if @versions.empty?
          .text-center.my-5
            .h3.text-muted= t('history.empty')
        - else
          = will_paginate @versions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer

          %table.table
            %thead
              %tr
                %th Дата
                %th Пользователь
                %th Действие
                %th Изменения
            %tbody
              = render(partial: 'substrates/version', collection: @versions)

          = will_paginate @versions, renderer: WillPaginate::ActionView::BootstrapLinkRenderer
