.card
  .card-body
    .row
      .col
        %h2.text-muted
          = t 'substrates.title'
          %small
            = link_to new_substrate_path, class: 'btn btn-primary btn-sm' do
              = fa_icon 'plus', text: t('shared.add')
      .col-6.text-right
        = link_to '#search-form-collapse', data: { toggle: params[:q] ? '' : 'collapse' }, class: 'btn btn-outline-primary btn-sm mr-2' do
          = fa_icon 'filter', text: t('shared.filter')
        = link_to history_substrates_path, class: 'btn btn-outline-primary btn-sm' do
          = fa_icon 'history', text: t('shared.history')



  = render 'search_form'

  %table.table.table-substrates.table-hover.table-sm.mb-0
    %thead
      %tr
        %th.text-center
          = sort_link @q, :priority,      Substrate.human_attribute_name(:priority)
          %br/
          = sort_link @q, :status,        Substrate.human_attribute_name(:status)
        %th
          = sort_link @q, :title,        Substrate.human_attribute_name(:title)
          %br/
          = sort_link @q, :drawing,      Substrate.human_attribute_name(:drawing_short)
        %th= sort_link @q, :detail,       Substrate.human_attribute_name(:detail_short)
        %th
          = sort_link @q, :sides,          Substrate.human_attribute_name(:sides)
          %br
          = sort_link @q, :coating_type,   Substrate.human_attribute_name(:coating_type)
          %br
          = sort_link @q, :coating_type_b, Substrate.human_attribute_name(:coating_type_b)
        %th= sort_link @q, :wave,         t('substrates.wave_short_html')
        %th= sort_link @q, :corner,       Substrate.human_attribute_name(:corner)
        %th= sort_link @q, :amount,       Substrate.human_attribute_name(:amount_short)
        %th= sort_link @q, :propotions,   Substrate.human_attribute_name(:propotions)
        %th= sort_link @q, :frame,        t('substrates.frame_short_html')
        %th= sort_link @q, :contract,     Substrate.human_attribute_name(:contract)
        %th
          %p= t('substrates.arrival.title')
          %p
            .font-weight-normal= sort_link @q, :arrival_from, t('substrates.arrival.who')
            .font-weight-normal= sort_link @q, :arrival_at, t('substrates.arrival.date')
        %th.font-weight-normal= sort_link @q, :future_shipping_to, Substrate.human_attribute_name(:future_shipping_at)
        %th
          %p= t('substrates.shipping.title')
          %p
            .font-weight-normal= sort_link @q, :shipping_to, t('substrates.shipping.who')
            .font-weight-normal= sort_link @q, :shipping_at, t('substrates.shipping.date')
        %th
          .font-weight-normal= sort_link @q, :user, Substrate.human_attribute_name(:user)
          .font-weight-normal= sort_link @q, :created_at, t('substrates.created_at')
        %th
          = t('substrates.followers')
          .font-weight-normal= sort_link @q, :finished_at, Substrate.human_attribute_name(:finished_at)
        %th

    %tbody
      = render @substrates
