.card
  .card-body
    .row
      .col
        %h2.text-muted
          = t 'substrates.title'
          %small
            = link_to new_substrate_path, class: 'btn btn-primary btn-sm' do
              = fa_icon 'plus', text: t('shared.add')

      .col-2.text-right
        = link_to '#search-form-collapse', data: { toggle: params[:q] ? '' : 'collapse' }, class: 'btn btn-outline-primary btn-sm' do
          = fa_icon 'filter', text: t('shared.filter')

  = render 'search_form'

  %table.table.table-substrates.table-hover.table-sm.mb-0
    %thead
      %tr
        %th.text-center
          = sort_link @q, :priority,  Substrate.human_attribute_name(:priority)
          %br/
          = sort_link @q, :status,    Substrate.human_attribute_name(:status)
        %th= sort_link @q, :title,    Substrate.human_attribute_name(:title)
        %th= sort_link @q, :drawing,  Substrate.human_attribute_name(:drawing_short)
        %th= sort_link @q, :detail,   Substrate.human_attribute_name(:detail_short)
        %th= sort_link @q, :wave,     t('substrates.wave_short_html')
        %th= sort_link @q, :corner,   Substrate.human_attribute_name(:corner)
        %th= sort_link @q, :amount,   Substrate.human_attribute_name(:amount_short)
        %th= sort_link @q, :frame,    t('substrates.frame_short_html')
        %th= sort_link @q, :contract, Substrate.human_attribute_name(:contract)
        %th
          %p= t('substrates.arrival.title')
          %p
            .font-weight-normal= sort_link @q, :arrival_at, t('substrates.arrival.date')
            .font-weight-normal= sort_link @q, :arrival_from, t('substrates.arrival.who')
        %th
          %p= t('substrates.shipping.title')
          %p
            .font-weight-normal= sort_link @q, :shipping_at, t('substrates.shipping.date')
            .font-weight-normal= sort_link @q, :shipping_to, t('substrates.shipping.who')
        %th= t('activerecord.attributes.substrate.shipping_base_html')
        %th
          .font-weight-normal= sort_link @q, :user, Substrate.human_attribute_name(:user)
          .font-weight-normal= sort_link @q, :created_at, t('substrates.created_at')
        %th

    %tbody
      - @substrates.each do |substrate|
        %tr{ class: status_style(substrate.status, :table) }
          %td.text-center
            = priority_tag substrate.priority
            %br/
            = status_text(substrate.status)
          %td= link_to substrate.title, substrate
          %td= substrate.drawing
          %td= substrate.detail
          %td= substrate.wave
          %td= substrate.corner
          %td= substrate.amount
          %td= t("substrates.frame_#{substrate.frame}")
          %td= substrate.contract
          %td
            = short_date substrate.arrival_at if substrate.arrival_at
            .text-muted= substrate.arrival_from
          %td
            = short_date substrate.shipping_at if substrate.shipping_at
            .text-muted= substrate.shipping_to
          %td= substrate.shipping_base
          %td
            = substrate.author
            .text-muted{title: l(substrate.created_at, format: :long), data: { toggle: 'tooltip' }}
              = short_date substrate.created_at
          %td
            .btn-group
              %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
                = fa_icon 'cog'
              .dropdown-menu.dropdown-menu-right
                = link_to edit_substrate_path(substrate), class: 'dropdown-item' do
                  = fa_icon 'edit', text: t('shared.edit')
                = link_to copy_substrate_path(substrate), class: 'dropdown-item' do
                  = fa_icon 'copy', text: t('shared.copy')
                = link_to substrate, method: :delete, data: { confirm: t('shared.sure') }, class: 'dropdown-item' do
                  = fa_icon 'trash', text: t('shared.del')
