- model_class = Substrate
.well
  .page-header
    %h2
      - if params[:action] == 'mirrors'
        = t 'mirrors.title'
      - else
        = t 'substrates.title'
      %small
        - if can? :manage, Substrate
          = link_to new_substrate_path(category: (params[:action] == 'mirrors' ? 'mirror' : 'substrate' )), class: 'btn btn-primary btn-small', style: 'vertical-align:middle' do
            %i.icon.icon-plus
            &nbsp;
            = t 'shared.add'
        %span.btn-group.pull-right
          = link_to (params[:action] == 'mirrors' ? mirrors_substrates_path(format: 'pdf') : substrates_path(format: 'pdf')), class: 'btn btn-small', target: '_blank' do
            %i.icon.icon-download-alt
            PDF
          = link_to (params[:action] == 'mirrors' ? mirrors_substrates_path(format: 'xls') : substrates_path(format: 'xls')), class: 'btn btn-small' do
            %i.icon.icon-download-alt
            Excel
  %table.table.table-bordered.table-substrates.table-hover
    %thead
      %tr
        %th №
        %th= sort_link @q, :title, model_class.human_attribute_name(:title)
        %th= sort_link @q, :drawing, model_class.human_attribute_name(:drawing)
        %th= sort_link @q, :number, model_class.human_attribute_name(:number)
        %th= sort_link @q, :state, model_class.human_attribute_name(:state)
        %th= sort_link @q, :theme, model_class.human_attribute_name(:theme)
        %th.big-tr= model_class.human_attribute_name(:desc)
        %th= sort_link @q, :user_id, model_class.human_attribute_name(:user_id)
    %tbody#substrates{  data: {  update_url: sort_substrates_url } }= render @substrates
