- check_archive = params[:action] == 'archive'

- set_meta_tags title: check_archive ? t('substrates.archive') : t('substrates.title')

.card{ class: check_archive ? 'card-archive' : 'card-index' }
  .card-header
    = render 'application/breadcrumb', titles: [link_to_if(!check_archive, content_tag(:span, t('substrates.archive')), archive_substrates_path)], class_name: Substrate do
      .float-right
        - if !check_archive
          = link_to new_substrate_path, class: 'btn btn-primary btn-sm' do
            = fa_icon 'plus', text: t('shared.add')
        = link_to '#search-form-collapse', data: { toggle: params[:q] ? '' : 'collapse' }, class: 'btn btn-outline-primary btn-sm ml-2' do
          = fa_icon 'filter', text: t('shared.filter')
        = link_to history_substrates_path, class: 'btn btn-outline-primary btn-sm ml-2' do
          = fa_icon 'history', text: t('shared.history')
        = link_to substrates_path(format: 'xlsx'), class: 'btn btn-outline-success btn-sm ml-2', target: '_blank' do
          = fa_icon 'file-excel', text: t('shared.download')

  = render 'substrates/search_form'

  - if @substrates.empty?
    .text-center.my-5
      .h3.text-muted= t('shared.search_empty')
  - else
    %table.table.table-substrates.table-hover.table-sm.mb-0
      %thead
        %tr
          %th.text-center
            = sort_link @q, :priority,       Substrate.human_attribute_name(:priority)
            %br/
            = sort_link @q, :status,         Substrate.human_attribute_name(:status)
          %th.text-center
            = sort_link @q, :otk_status,     t('substrates.otk')
          %th.text-nowrap
            = sort_link @q, :title,          Substrate.human_attribute_name(:title)
            %br/
            = sort_link @q, :drawing,        Substrate.human_attribute_name(:drawing_short)
            %br/
            = sort_link @q, :detail,         Substrate.human_attribute_name(:detail_short)
          %th
            .row
              .col.text-nowrap
                = sort_link @q, :sides,          Substrate.human_attribute_name(:sides)
                %br
                = sort_link @q, :coating_type,   Substrate.human_attribute_name(:coating_type)
                %br
                = sort_link @q, :coating_type_b, Substrate.human_attribute_name(:coating_type_b)
              .col
                = sort_link @q, :corner,        t('substrates.corner')
              .col
                = sort_link @q, :wave,          t('substrates.wave_short_html')
                %br/
                %span{title: t('shared.old'), data: { toggle: 'tooltip' } }
                  = fa_icon :question_circle, class: 'text-info', size: 'lg'
              .col
                = t('substrates.spectr_chars')
          %th
            = sort_link @q, :rad_strength,  t('substrates.rad_strength_html')
          %th.text-nowrap
            = Substrate.human_attribute_name(:amount_short)
            %br/
            = sort_link @q, :instock,       t('substrates.instock_short')
            %span.text-muted /
            = sort_link @q, :amount,        t('substrates.amount_short')
          %th= sort_link @q, :ready_count,  t('substrates.ready_count_html')
          %th.text-nowrap
            = t('substrates.size')
          %th= sort_link @q, :frame,        t('substrates.frame_short_html')
          %th= sort_link @q, :contract,     Substrate.human_attribute_name(:contract)
          %th
            %p= t('substrates.arrival.title')
            %p
              .font-weight-normal= sort_link @q, :arrival_from, t('substrates.arrival.who')
              .font-weight-normal= sort_link @q, :arrival_at, t('substrates.arrival.date')
          %th
            .font-weight-normal= sort_link @q, :user, Substrate.human_attribute_name(:user)
            .font-weight-normal= sort_link @q, :created_at, t('substrates.created_at')
          %th
            = t('substrates.followers')
            .font-weight-normal= sort_link @q, :finished_at, Substrate.human_attribute_name(:finished_at)
          %th

      %tbody= render @substrates
