- model_class = Substrate
.page-header
  %h2
    = t 'substrates.title'
    %small
      = link_to new_substrate_path, class: 'btn btn-primary btn-small' do
        %i.icon.icon-plus
        &nbsp;
        = t('shared.add')
.well
  %p.pull-right
    %span.btn-group
      = link_to substrates_path(format: 'pdf'), class: 'btn', target: '_blank' do
        %i.icon.icon-download-alt
        PDF
      = link_to substrates_path(format: 'xls'), class: 'btn' do
        %i.icon.icon-download-alt
        Excel
  %table.table.table-bordered.table-striped.table-substrates.table-hover
    %thead
      %tr
        %th №
        %th= sort_link @q, :title, model_class.human_attribute_name(:title)
        %th= sort_link @q, :drawing, model_class.human_attribute_name(:drawing)
        %th= sort_link @q, :number, model_class.human_attribute_name(:number)
        %th= sort_link @q, :state, model_class.human_attribute_name(:state)
        %th.big-tr= model_class.human_attribute_name(:desc)
        %th= sort_link @q, :user_id, model_class.human_attribute_name(:user_id)
    %tbody= render @substrates
