- model_class = Substrate
.page-header
  %h2
    = model_class.model_name.human.titleize
    = '№ ' + @substrate.number

%dl.row
  - if @substrate.title?
    %dt.col-sm-3.text-right= model_class.human_attribute_name(:title)
    %dd.col-sm-9= @substrate.title
  - if @substrate.drawing?
    %dt.col-sm-3.text-right= model_class.human_attribute_name(:drawing)
    %dd.col-sm-9= @substrate.drawing
  - if @substrate.theme?
    %dt.col-sm-3.text-right= model_class.human_attribute_name(:theme)
    %dd.col-sm-9= @substrate.theme
  - if @substrate.state?
    %dt.col-sm-3.text-right= model_class.human_attribute_name(:state)
    %dd.col-sm-9= t "#{@substrate.category}s.states.#{@substrate.state}"
  - if @substrate.desc?
    %dt.col-sm-3.text-right= model_class.human_attribute_name(:desc)
    %dd.col-sm-9= @substrate.desc
  - if @substrate.user
    %dt.col-sm-3.text-right= model_class.human_attribute_name(:user_id)
    %dd.col-sm-9= link_to @substrate.user.profile.surname, user_profile_path(@substrate.user)


.form-group
  = link_to t('shared.back'), :back, class: 'btn btn-secondary'
  - if can? :edit, @substrate
    = link_to t('shared.edit'), edit_substrate_path(@substrate), class: 'btn btn-secondary'
  - if can? :destroy, @substrate
    = link_to t('shared.del'), substrate_path(@substrate), method: 'delete', data: { confirm: t('shared.sure') }, class: 'btn btn-danger'
