.card
  .card-body
    .row
      .col-12
        = render 'breadcrumb', formtitle: @substrate.title
      .col-12.mb-2
        = link_to t('shared.edit'), edit_substrate_path(@substrate), class: 'btn btn-outline-primary btn-sm'
      .col-12
        %p
          %b= Substrate.human_attribute_name(:priority)
          = priority_tag @substrate.priority
        %p
          %b= Substrate.human_attribute_name(:status)
          = status_text(@substrate.status)
        %p
          %b= t('substrates.created_at')
          = l @substrate.created_at, format: :long
        %p
          %b= Substrate.human_attribute_name(:desc)
          = @substrate.desc
    .row
      .col
        %p
          %b= Substrate.human_attribute_name(:drawing)
          = @substrate.drawing
        %p
          %b= Substrate.human_attribute_name(:detail)
          = @substrate.detail
        %p
          %b= Substrate.human_attribute_name(:amount)
          = @substrate.amount
        %p
          %b= Substrate.human_attribute_name(:coating_type)
          = @substrate.coating_type
        %p
          %b= Substrate.human_attribute_name(:wave)
          = @substrate.wave
        %p
          %b= Substrate.human_attribute_name(:corner)
          = @substrate.corner
        %p
          %b= Substrate.human_attribute_name(:frame)
          = t("substrates.frame_#{@substrate.frame}")
      .col
        %p
          %b= Substrate.human_attribute_name(:contract)
          = @substrate.contract
        %p
          %b= Substrate.human_attribute_name(:arrival_at)
          = short_date @substrate.arrival_at if @substrate.arrival_at
        %p
          %b= Substrate.human_attribute_name(:arrival_from)
          = @substrate.arrival_from
        %p
          %b= Substrate.human_attribute_name(:shipping_at)
          = short_date @substrate.shipping_at if @substrate.shipping_at
        %p
          %b= Substrate.human_attribute_name(:shipping_to)
          = @substrate.shipping_to
        %p
          %b= Substrate.human_attribute_name(:shipping_base)
          = @substrate.shipping_base
        %p
          %b= Substrate.human_attribute_name(:user)
          = link_to @substrate.author, @substrate.user

    .row
      .col
        %hr
        .h4.text-muted
          = t 'subfiles.title'
          %small
            .btn.btn-sm.btn-outline-secondary(data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample")
              = fa_icon 'file', text: t('subfiles.add'), class: 'mr-2'

        .row.collapse#collapseExample
          .col
            .my-3= render partial: 'subfiles/form', locals: { substrate: @substrate, subfile: Subfile.new }

        %table.table.table-striped.table-hover.table-sm
          = content_tag_for(:tr, @subfiles) do |subfile|
            %td
              = link_to subfile.src_file_name, subfile.src.url, target: '_blank'
            %td
              = link_to subfile.user.surname_name, subfile.user
            %td
              = link_to [@substrate, subfile], method: :delete, remote: true, class: 'btn btn-sm btn-danger', data: { confirm: t('shared.sure') } do
                = fa_icon 'trash'
    .row
      .col
        %hr
        %h4.text-muted= t 'substrates.followers'
        %hr
    .row
      .col
        .h4 to follow:
        %table.table.table-striped.table-hover.table-sm#future_followers
          = render partial: 'follow_user',
            collection: @users,
            as: :user,
            locals: { substrate: @substrate, marker: :plus }
      .col
        .h4 followers:
        %table.table.table-striped.table-hover.table-sm#followers
          = render partial: 'follow_user',
            collection: @substrate.followers(User),
            as: :user,
            locals: { substrate: @substrate, marker: :minus }
