- set_meta_tags title: t('dataset.title')

.card.mb-3
  .card-body
    .bg-white.p-3.text-muted
      = t 'dataset.help'

.card
  .card-body
    %p
      = link_to new_user_folder_path(@user), class: 'btn btn-secondary' do
        = fa_icon 'folder-open', text: t('folder.new')

    .bg-white.p-3
      - if @folders.any?
        = render @folders.roots
      - else
        %h6.text-muted.text-center= t 'dataset.empty_root'
