- set_meta_tags title: t('dataset.title')

= content_for :sidebar do
  .bg-white.p-3.text-muted
    = t 'dataset.help'

.card
  .card-header
    %h4= t 'dataset.title'

  .card-body
    %p
      = link_to new_user_folder_path(@user), class: 'btn btn-secondary' do
        = fa_icon 'folder-open', text: t('folder.new')

    .bg-white.p-3
      - unless @folders.empty?
        = render @folders.roots
      - else
        %h6.text-muted.text-center= t 'dataset.empty_root'
