- set_meta_tags title: t('dataset.title')

= content_for :sidebar do
  .well
    %p.text-muted= t 'dataset.help'

.page-header
  %h2= t 'dataset.title'

%p
  = link_to new_user_folder_path(@user), class: 'btn btn-default' do
    %i.glyphicon.glyphicon-folder-open
    = t 'folder.new'

.well
  - unless @folders.empty?
    = render @folders.roots
  - else
    %h6.text-muted.text-center= t 'dataset.empty_root'
  .clearfix