.card
  .card-header
    %h4
      = t @folder.title
      %small.float-right
        = link_to t('shared.edit'), edit_user_folder_path(@user, @folder), :class => 'btn btn-secondary btn-sm'
        = link_to t('shared.del'), [@user, @folder], method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger btn-sm'

  .card-body
    = link_to [@user, Folder], class: 'btn btn-secondary' do
      = fa_icon 'th-large'
    = link_to (@folder.parent_id? ? [@user, @folder.parent] : [@user, Folder]), class: 'btn btn-secondary' do
      = fa_icon 'chevron-left'
    = link_to new_user_folder_path(@user, parent_id: @folder.id), class: 'btn btn-secondary' do
      = fa_icon 'folder-open', text: t('folder.new')
    = link_to new_user_folder_dataset_path(@user, @folder), class: 'btn btn-secondary' do
      = fa_icon 'file', text: t('dataset.new')

    %hr.py-3

    - if @folder.has_children? || !@folder.datasets.empty?
      = render @folder_children
      = render @folder_datasets
    - else
      %h6.text-muted.text-center= t 'dataset.empty'