- model_class = Task
.well
  .page-header
    %h3= @task.title
  %p
    %strong= model_class.human_attribute_name(:user_id) + ':'
    %br
    = link_to @task.user.profile.fullname, user_profile_path(@task.user)
  %p
    %strong= model_class.human_attribute_name(:machine_id) + ':'
    %br
    = @task.machine.title
  %p
    %strong= model_class.human_attribute_name(:start_time) + ':'
    %br
    = l @task.start_time, format: :short
  %p
    %strong= model_class.human_attribute_name(:end_time) + ':'
    %br
    = l @task.end_time, format: :short
  %p
    %strong= model_class.human_attribute_name(:complete) + ':'
    %br
    = @task.complete.to_s + '%'

  .form-group
    = link_to t('.back', :default => t("helpers.links.back")), machines_path, class: 'btn btn-default'
    - if can? :manage, @task
      = link_to t('shared.edit'), edit_machine_task_path(@machine, @task), class: 'btn btn-default'
      = link_to t('shared.del'), [@machine, @task], method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger'
