= bootstrap_form_for [@user, @folder, @dataset], layout: :horizontal do |f|
  = f.file_field :src
  = f.form_group do
    = f.primary submit_title
    = link_to t('shared.cancel'), [@user, @folder], class: 'btn btn-secondary'
