= form_for [@user, @folder, @dataset], html: {class: 'form-horizontal' } do |f|
  = render 'main/error', object: @dataset

  .control-group
    = f.label :src, class: 'control-label'
    .controls= f.file_field :src, class: 'text_field'
  .form-actions
    = f.submit submit_title, class: 'btn btn-primary'
    = link_to t('shared.cancel'), [@user, @folder], class: 'btn'
