.card
  .card-body
    = render 'breadcrumb', titles: ["#{@office_note.title} #{@office_note.num}"]

    %p
      %b= OfficeNote.human_attribute_name(:whom)
      = @office_note.whom
    %p
      %b= OfficeNote.human_attribute_name(:created_at)
      = short_date(@office_note.created_at)

    - if @office_note.documents.attached?
      %hr
        %h4= OfficeNote.human_attribute_name(:documents)
        %table.table.table.table-sm
          - @office_note.documents.each.with_index(1) do |document, index|
            %tr
              %td
                = index
              %td
                = link_to document.filename, document, target: '_blank'
              %td
                = link_to t('shared.del'), delete_document_office_note_url(@office_note, document_id: document.signed_id), method: :delete, data: { confirm: t('shared.sure') }

  .card-footer
    = link_to t('shared.edit'), edit_office_note_path(@office_note)
    .float-right
      = link_to t('shared.back'), office_notes_path
