.card
  .card-body
    = render 'breadcrumb', titles: ["#{@office_note.title} #{@office_note.num}"]

    %p
      %b= OfficeNote.human_attribute_name(:whom)
      = @office_note.whom
    %p
      %b= OfficeNote.human_attribute_name(:created_at)
      = short_date(@office_note.created_at)

    - if @office_note.documents.attached?
      %p
        %b= OfficeNote.human_attribute_name(:documents)
        - @office_note.documents.each do |document|
          = link_to fa_icon('file 2x'),
            url_for(document),
            class: 'fancybox'
          = document.filename


  .card-footer
    = link_to t('shared.edit'), edit_office_note_path(@office_note)
    .float-right
      = link_to t('shared.back'), office_notes_path
