= bootstrap_nested_form_for [@art, @work], layout: :horizontal do |f|
  = f.text_area :desc, rows: 3

  = f.fields_for :sources do |source_form|
    .form-group.well.well-small
      = source_form.label :file, class: 'control-label'
      .form-control
        = source_form.file_field :file, :class => 'text_field'
        = image_tag source_form.object.file(:thumb), class: 'img-thumbnail' if source_form.object.file?
        = source_form.link_to_remove t('shared.del')
      .form-control
        .checkbox
          = source_form.label :hide do
            = source_form.check_box :hide
            = t 'slides.hide'

  = f.link_to_add t('slides.add'), :sources

  - f.form_group do
    = f.primary (params[:action] == 'new' ? t('work.to_create') : t('work.to_save'))
