= nested_form_for [@art, @work], :html => { :class => 'form-horizontal' } do |f|
  - if @work.errors.any?
    #error_explanation
      %h2= t 'shared.errors', error: plural(@work.errors.count, 'error')
      %ul
        - @work.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = f.label :desc, class: 'control-label'
    = f.text_area :desc, class: 'form-control col-md-12', rows: 3

  = f.fields_for :sources do |source_form|
    .form-group.well.well-small
      = source_form.label :file, class: 'control-label'
      .form-control
        = source_form.file_field :file, :class => 'text_field'
        = image_tag source_form.object.file(:thumb), class: 'img-thumbnail' if source_form.object.file?
        = source_form.link_to_remove t('shared.del')
      .form-control
        .checkbox
          = source_form.label :hide do
            = source_form.check_box :hide
            = t 'slides.hide'

  = f.link_to_add t('slides.add'), :sources

  .form-group
    = f.submit (params[:action] == 'new' ? t('work.to_create') : t('work.to_save')), class: 'btn btn-default'
