.panel.panel-default
  - if work.desc?
    .panel-heading
      = work.desc
  .panel-body
    .devilgallery.text-center
      - work.sources.each do |s|
        = link_to (image_tag (s.hide ? 'censored.jpg' : s.file.url(:thumb)), class: 'img-thumbnail'), s.file.url(:large), class: 'fancybox thumnbail', rel: "gallery_#{work.id}"
  - if can? :manage, work
    .panel-footer
      = link_to t('shared.edit'), edit_art_work_path(work.art, work)
      = link_to t('shared.del'), [work.art, work], method: :delete, data: { confirm: t('shared.sure') }
