= bootstrap_form_for @type, layout: :horizontal, html: { class: 'card' } do |f|
  .card-header
    %h4= formtitle
  .card-body
    = f.text_field :title
  .card-footer
    = f.form_group do
      = f.primary
      = link_to t('shared.cancel'), types_path, class: 'btn btn-secondary'
