= bootstrap_nested_form_for @round, layout: :horizontal do |f|
  = f.text_field :title
  = f.text_field :content
  = f.text_field :tag_list
  = f.select :type_id,
    Type.order(:title).collect { |t| [t.title,  t.id] },
    { include_blank: t('categories.select_category') }

  .date= f.text_field :deadline, id: 'datetimeround'

  = f.form_group do
    .checkbox= f.check_box :close

  = f.form_group do
    .checkbox= f.check_box :empty_match

  = f.fields_for :matches do |m|
    .form-group.well.well-small
      = m.select(:team1_id, Team.order(:title).collect {|t| [ "#{t.title}",  t.id]}, { include_blank: t('teams.select_team') } )
      = m.select(:team2_id, Team.order(:title).collect {|t| [ "#{t.title}",  t.id]}, { include_blank: t('teams.select_team') } )

      - if @round.allow_empty?
        = m.select(:desc, Match::TYPES.collect {|type| [ t(type),  type]}, { include_blank: 'select desc' })

      = m.select(:winner_id, Team.order(:title).collect {|t| [ "#{t.title}",  t.id]}, { include_blank: t('teams.select_team') } )

      = m.number_field :team1goal

      = m.number_field :team2goal

      = m.select(:ending, Match::ENDING.collect {|e| [ t(e),  e]})

  = f.link_to_add t('matches.add'), :matches

  = f.form_group do
    = f.primary
    = link_to t('shared.cancel'), rounds_path, class: 'btn btn-default'
