.card
  .card-header
    = formtitle
  = bootstrap_form_for @round, layout: :horizontal do |f|
    .card-body
      = f.text_field :title
      = f.text_field :content
      = f.text_field :tag_list
      = f.select :type_id,
        Type.order(:title).collect { |t| [t.title,  t.id] },
        { include_blank: t('categories.select_category') }

      = f.datetime_select :deadline

      = f.form_group do
        .checkbox= f.check_box :close

      = f.form_group do
        .checkbox= f.check_box :empty_match

      = f.form_group do
        .checkbox= f.check_box :draw

      = f.fields_for :matches do |match|
        = render 'match_fields', f: match

      = f.form_group do
        = link_to_add_association t('matches.add'), f, :matches, class: 'btn btn-secondary'

    .card-footer
      = f.form_group do
        = f.primary
        = link_to t('shared.cancel'), rounds_path, class: 'btn btn-secondary'
