%tr
  %td.team-commands
    .team.clearfix
      .team-name
        = image_tag match.team1.flag(:thumb)
        %span{style: (match.team1 == match.check_win) ? 'font-weight:bold' : nil} #{match.team1.title}
      .team-goal
        #{match.team1goal || '-'}
    .team.clearfix
      .team-name
        = image_tag match.team2.flag(:thumb)
        %span{style: (match.team2 == match.check_win) ? 'font-weight:bold' : nil} #{match.team2.title}
      .team-goal
        #{match.team2goal || '-'}

  %td.match-ending(style='width:4px;')
    - unless match.ending == 'basic'
      - unless match.team1 == match.winner
        %br/
      %span.tip
        - if match.ending == 'penalty'
          = t("matches.#{(@round.type_id == 2) ? 'bullit' : match.ending}_short")
          .tip-text= t("matches.#{(@round.type_id == 2) ? 'bullit' : match.ending}")
        - elsif match.ending == 'overtime'
          = t("matches.overtime_short#{(@round.type_id == 2) ? '_hockey' : nil}")
          .tip-text= t("matches.overtime#{(@round.type_id == 2) ? '_hockey' : nil}")

  - @users.each do |user|
    - f = user.forecasts.where(match_id: match.id).first
    - if f
      - f_css = (f.team1goal == match.team1goal) && (match.team2goal == f.team2goal) && (match.ending == f.ending) && ((%w[overtime basic].include? match.ending) || (match.ending == 'penalty' && match.winner == f.winner)) ? 'success' : nil
      %td.text-center{ class: f_css, id: "match_#{match.id}_user_#{user.id}_forecast" }
        = render 'forecasts/forecast', f: f, match: match, user: user, round: @round
    - else
      %td.text-center{ id: "match_#{match.id}_user_#{user.id}_forecast" }
        - if (user_signed_in? && ((@round.deadline > DateTime.now)) || (current_user.role? :admin))
          - if can? :new, user => Forecast
            = link_to new_user_forecast_path(user, match_id: match.id), data: { target: "#dialog_forecast_#{match.id}_#{user.id}", toggle: 'modal'}, class: 'modal-link btn btn-secondary btn-sm', title: t('forecasts.add'), remote: true do
              = fa_icon 'plus'
            .modal(tabindex='-1' role='dialog' id="dialog_forecast_#{match.id}_#{user.id}" aria-hidden="true")


  - if @round.check_finish?
    %td.middle
      - f = Forecast.where(match_id: match)
      - unless f.empty?
        .tip
          %b #{(f.sum(:team1goal)/f.count.to_f).round} : #{(f.sum(:team2goal)/f.count.to_f).round}
          .tip-text #{(f.sum(:team1goal)/f.count.to_f).round(1)} : #{(f.sum(:team2goal)/f.count.to_f).round(1)}
  - else
    %td
      - results = (Match.where(team1_id: [match.team1, match.team2], team2_id: [match.team1, match.team2]).joins(:round).where(rounds: {type_id: @round.type_id}).where('deadline < ?', DateTime.now).pluck(:id) - [match.id]).count
      - if results > 0
        = link_to get_results_round_match_path(@round, match), data: { target: "#dialog_match_#{match.id}", toggle: 'modal' }, class: 'modal-link btn btn-success btn-sm', remote: true do
          = fa_icon 'info-circle'
        .modal.fade(tabIndex='-1' role='dialog' id="dialog_match_#{match.id}")
