!!!
%html
  %head
    %meta{ charset: 'utf-8'}
    :css
      body {font-size:11px;font-family: Geneva, Arial, Helvetica, sans-serif; color: #333}
      .title {font-size:18px;text-align:center;margin-bottom:10px;}
      table {width:100%;border-collapse:collapse;}
      table, tr, td{border:1px solid #ddd;}
      tbody tr:nth-child(odd) {background:#eee}
      td{padding: 3px}

  %body
    .page-header
      %h3= @round.title

    %table.table.table-sm.rounds
      %thead
        %th
        %th
        - @users.each do |user|
          %th.results(style="text-align:center;font-weight:100;")
            %p= user.profile.surname
      %tbody
        - @round_matches.each do |match|
          %tr
            %td.team-commands
              %div= match.team1.title
              %div= match.team2.title
            %td.match-ending(style="width:4px;")
              - unless match.ending == 'basic'
                - unless match.team1 == match.winner
                  %br/
            - @users.each do |user|
              - f = user.forecasts.where(match_id: match.id).first
              - if f
                - f_css = (f.team1goal == match.team1goal) && (match.team2goal == f.team2goal) && (match.ending == f.ending) ? 'success' : nil
                %td{style: "text-align:center", class: f_css}
                  .total
                    - if (match.team1 == f.winner) || (f.team1goal > f.team2goal)
                      #{f.team1goal}
                      - unless f.ending == 'basic'
                        %span.tip
                          %span.ending= t("matches.#{(f.ending == 'penalty' && @round.type_id == 2) ? 'bullit' : f.ending}_short")
                      \ : #{f.team2goal}
                    - else (match.team2 == f.winner) || (f.team1goal < f.team2goal)
                      #{f.team1goal} : #{f.team2goal}
                      - unless f.ending == 'basic'
                        %span.tip
                          %span.ending= t("matches.#{(f.ending == 'penalty' && @round.type_id == 2) ? 'bullit' : f.ending}_short")
              - else
                %td