- set_meta_tags title: t('shared.sport')

.row
  .col-md-6
    .card.mb-3#rating
      = render partial: 'rating', locals: { users: @users }
    .card
      .card-header
        = t 'shared.stat'
      %ul.list-group.list-group-flush
        %li.list-group-item
          .row
            .col-sm-8= t 'matches.count'
            .col-sm-4.text-right
              = @matches.size
              \ /
              %span{ title: t('matches.finished'), data: { toggle: 'tooltip' } }= @match_finished.size
        %li.list-group-item
          .row
            .col-sm-8= t 'forecasts.count_users'
            .col-sm-4.text-right
              = @forecasts.size
              \ /
              %span{ title: t('forecasts.count_users_finished'), data: { toggle: 'tooltip' } }= @forecasts_finished.size

  .col-md-6
    - if (can? :manage, Round) && (can? :manage, Team)
      %p
        %small= link_to t('rounds.add'), new_round_path, class: 'btn btn-secondary'
        %small= link_to t('teams.add'), new_team_path, class: 'btn btn-secondary'
        %small= link_to t('types.title'), types_path, class: 'btn btn-secondary'

    .endless= render @all_rounds
    .div-pagy(hidden)= will_paginate @all_rounds
