- set_meta_tags title: t('shared.sport')

.row
  .col-md-6
    .card.mb-3
      .card-header
        = t 'shared.rating'
      %table.table.table-hover
        %thead
          %tr
            %td
            %td
              = link_to rounds_path(sort: 'current') do
                ЧМФ 2018
                - if params[:sort] == 'current' || !params[:sort]
                  = fa_icon 'chevron-down'
            %td
              = link_to rounds_path(sort: 'ratio') do
                К
                %sub>< эф
                - if params[:sort] == 'ratio'
                  = fa_icon 'chevron-down'
            %td
              = link_to rounds_path(sort: 'new_ratio') do
                К
                %sub>< new
                - if params[:sort] == 'new_ratio'
                  = fa_icon 'chevron-down'
            %td
              = link_to rounds_path(sort: 'win'), data: { toggle: 'tooltip' }, title: t('forecasts.full_win') do
                Точн.
                - if params[:sort] == 'win'
                  = fa_icon 'chevron-down'
            %td
              = link_to rounds_path(sort: 'total') do
                Общий
                - if params[:sort] == 'total'
                  = fa_icon 'chevron-down'
        - @users.each do |user, round_result|
          - user_ratio = user.ratio(@match_finished, @all_users)
          - if user_ratio[:forecasts_count] > 0
            %tr
              %td= user.profile.surname || user.email
              %td= round_result
              %td
                = user_ratio[:ratio_count]
                %span.text-muted{ data: { toggle: 'tooltip' }, title: t('forecasts.count_tip') }
                  = user_ratio[:forecasts_count]
              %td= user_ratio[:new_ratio].round(3)
              %td= user.win_forecasts_count
              %td= user.profile.total_result

    .card
      .card-header
        = t 'shared.stat'
      %table.table.table-hover.table-sm
        %tr
          %td= t 'matches.count'
          %td
            = @matches.size
            \ /
            %span{ title: t('matches.finished'), data: { toggle: 'tooltip' } }= @match_finished.size
        %tr
          %td= t 'forecasts.count_users'
          %td
            = @forecasts.size
            \ /
            %span{ title: t('forecasts.count_users_finished'), data: { toggle: 'tooltip' } }= @forecasts_finished.size

  .col-md-6
    - if (can? :manage, Round) && (can? :manage, Team)
      %p
        %small= link_to t('rounds.add'), new_round_path, class: 'btn btn-secondary'
        %small= link_to t('teams.add'), new_team_path, class: 'btn btn-secondary'
        %small= link_to t('types.title'), types_path, class: 'btn btn-secondary'

    = render @rounds
