.row
  .col-md-5
    %h3=t 'shared.rating'
    %table.table.table-hover
      %thead
        %tr
          %td
          %td
            = link_to rounds_path(sort: 'current') do
              ЧМХ 2017
              - if params[:sort] == 'current' || !params[:sort]
                %i.glyphicon.glyphicon-chevron-down
          %td
            = link_to rounds_path(sort: 'ratio') do
              Kf
              - if params[:sort] == 'ratio'
                %i.glyphicon.glyphicon-chevron-down
          %td
            = link_to rounds_path(sort: 'total') do
              Общий
              - if params[:sort] == 'total'
                %i.glyphicon.glyphicon-chevron-down
      - if @tempusers
        - @tempusers.each do |tempuser, round_result|
          %tr
            %td= tempuser.username
            %td= round_result.sum
            %td= (tempuser.total_result.to_f / tempuser.forecasts.count.to_f).round(3)
            %td= tempuser.total_result

  .col-md-7
    - if can? :manage, Round
      %small= link_to t('rounds.add'), new_round_path, class: 'btn btn-default'
    - if can? :manage, Team
      %small= link_to t('teams.add'), new_team_path, class: 'btn btn-default'
    - if can? :manage, Tempuser
      %small= link_to 'tempusers', tempusers_path, class: 'btn btn-default'

    %table.table.table-striped
      - @rounds.each do |round|
        .page-header
          %h4= link_to round.title, round
          %p= round.content
          %p.text-muted
            %span=plural round.matches.count, 'match'
            &#149;
            %span=plural round.forecasts.count, 'forecast'
            &#149;
            %span=plural round.forecasts.pluck(:tempuser_id).uniq.count, 'user'
          - if can? :manage, round
            = link_to t('shared.edit'), edit_round_path(round), class: 'btn btn-default btn-xs'
            = link_to t('shared.del'), round_path(round), :method => :delete, :data => { :confirm => t('shared.sure') }, class: 'btn btn-xs btn-danger'
