- set_meta_tags title: t('shared.sport')

.row
  .col-md-5
    .well.well-sm
      %h3= t 'shared.rating'
      %table.table.table-hover
        %thead
          %tr
            %td
            %td
              = link_to rounds_path(sort: 'current') do
                ОИ 2018
                - if params[:sort] == 'current' || !params[:sort]
                  %i.glyphicon.glyphicon-chevron-down
            %td
              = link_to rounds_path(sort: 'ratio') do
                Kf
                - if params[:sort] == 'ratio'
                  %i.glyphicon.glyphicon-chevron-down
            %td
              = link_to rounds_path(sort: 'total') do
                Общий
                - if params[:sort] == 'total'
                  %i.glyphicon.glyphicon-chevron-down
        - @users.each do |user, round_result|
          - user_forecasts_count = user.forecasts.count
          - user_total_result = user.profile.total_result
          - matches_count = Match.count
          - if user_forecasts_count > 0
            %tr
              %td= user.profile.surname || user.email
              %td= round_result
              %td
                = (user_total_result.to_f / user_forecasts_count.to_f).round(3)
                %span.text-muted.has-tooltip{ data: {toggle: 'tooltip', title: t('forecasts.count_tip')} }= user_forecasts_count
              %td= user_total_result

  .col-md-7
    - if can? :manage, Round
      %small= link_to t('rounds.add'), new_round_path, class: 'btn btn-default'
    - if can? :manage, Team
      %small= link_to t('teams.add'), new_team_path, class: 'btn btn-default'

    = render @rounds
