.row
  .col-md-5
    %h3=t 'shared.rating'
    %table.table.table-hover
      %thead
        %tr
          %td
          %td
            = link_to rounds_path(sort: 'current') do
              ОИ 2018
              - if params[:sort] == 'current' || !params[:sort]
                %i.glyphicon.glyphicon-chevron-down
          %td
            = link_to rounds_path(sort: 'ratio') do
              Kf
              - if params[:sort] == 'ratio'
                %i.glyphicon.glyphicon-chevron-down
          %td
            = link_to rounds_path(sort: 'total') do
              Общий
              - if params[:sort] == 'total'
                %i.glyphicon.glyphicon-chevron-down
      - @users.each do |user, round_result|
        - user_forecasts_count = user.forecasts.count
        - user_total_result = user.profile.total_result
        - if user_forecasts_count > 0
          %tr
            %td= user.profile.surname || user.email
            %td= round_result
            %td= (user_total_result.to_f / user_forecasts_count.to_f).round(3)
            %td= user_total_result

  .col-md-7
    - if can? :manage, Round
      %small= link_to t('rounds.add'), new_round_path, class: 'btn btn-default'
    - if can? :manage, Team
      %small= link_to t('teams.add'), new_team_path, class: 'btn btn-default'

    %table.table.table-striped
      - @rounds.each do |round|
        .page-header
          %h4= link_to round.title, round
          %p= round.content
          %p.text-muted
            %span= plural round.matches.count, 'match'
            &#149;
            %span= plural round.forecasts.count, 'forecast'
            &#149;
            %span= plural round.forecasts.pluck(:user_id).uniq.count, 'user'
          - if can? :manage, round
            = link_to t('shared.edit'), edit_round_path(round), class: 'btn btn-default btn-xs'
            = link_to t('shared.del'), round_path(round), :method => :delete, :data => { :confirm => t('shared.sure') }, class: 'btn btn-xs btn-danger'
