.row
  .col-12
    .card
      .card-header
        = link_to t('shared.sport'), rounds_path
        %span.text-muted= fa_icon 'angle-right'
        = @round.title
        .float-right
          .badge.badge-primary
            = @round.check_finish? ? t('rounds.deadline_off') : t('rounds.deadline', date: deadline(@round.deadline))

      %table.table.table-sm.rounds
        %thead
          %th
          %th
          - @users.each do |user|
            %th.results.text-center
              %p.font-weight-normal
                = link_to user.surname, user

              - result = user.results.where(round_id: @round).first
              - if result
                .tip
                  .badge.badge-pill.badge-success= result.total
                  = render partial: 'result_stats', locals: { result: result, user: user }
              - else
                .badge.badge-pill.badge-success 0

          - if @round.check_finish?
            %th= t 'shared.mid'
        %tbody
          - if @round.allow_empty?
            - hidden_matches = @round_matches.where('matches.desc is null or matches.desc <> ?', '')

            = render partial: 'match', collection: (@round_matches - hidden_matches)

            - if @round.content? && !@round.check_finish?
              %tr
                %td(colspan=17)
                  .col-6.alert.alert-danger.offset-3
                    = @round.content

            - %w[final 3final].each do |type|
              %tr
                %td(colspan=17)
                  %h4= t "rounds.#{type}"
              - hidden_matches.where(desc: type).each do |match|
                = render partial: 'match', locals: { match: match }
          - else
            = render partial: 'match', collection: @round_matches

      .card-footer
        = link_to t('shared.back'), rounds_path, class: 'btn btn-secondary btn-sm'
        .float-right
          - if can? :download, @round
            = link_to download_round_path(@round, format: 'pdf'), class: 'btn btn-secondary btn-sm', target: '_blank' do
              = fa_icon 'file-pdf', text: t('rounds.download')

          - if can? :manage, @round
            = link_to rebuild_results_path(round: @round.id), remote: true, method: :post, class: 'btn btn-secondary btn-sm ' do
              = fa_icon 'calculator', text: t('results.rebuild')

            = link_to t('shared.edit'), edit_round_path(@round), class: 'btn btn-secondary btn-sm ml-2'
            = link_to t('shared.del'), round_path(@round), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger btn-sm'
