%h2 Resend unlock instructions
= bootstrap_form_for(resource, as: resource_name, url: unlock_path(resource_name), layout: :horizontal, html: { method: :post }) do |f|
  = f.email_field :email, autofocus: true, autocomplete: 'email'
  = f.form_group do
    = f.primary "Resend unlock instructions"
= render 'users/shared/links'
