.card
  .card-header
    = render 'panel_top'

  = bootstrap_form_for(@user, layout: :horizontal, label_col: 'col', control_col: 'col-8') do |f|
    .card-body
      .row
        .col
          = f.select :theme, THEMES.collect{ |theme| [theme, theme, { data: { url: asset_url("bootstrap/#{theme}/bootstrap.min.css") }} ] }
      .row
        .col
          = f.fields_for :profile do |p|
            = p.color_field :background_color,
              value: @user.background_color,
              control_col: 'col-8',
              label_col: 'col',
              data: { bg_url: asset_url('greydots.png') }
    .card-footer
      = f.primary t('decor.save')
      .float-right= link_to t('shared.back'), @user, class: 'btn btn-secondary'
