.card
  .card-header
    = t 'users.edit_roles_html', username: link_to(@user.show_name(:petrovich), @user)
  = bootstrap_form_for(@user, url: make_role_user_path(@user), layout: :horizontal, html: { method: :post }) do |f|
    .card-body
      .row
        .col
          = f.collection_check_boxes :roles,  User::ROLES.sort, :to_s, :to_s, custom: :switch
        .col
          = f.collection_check_boxes :groups, User::GROUPS.sort, :to_s, :to_s, custom: :switch

      %hr
      = f.check_box :sport_flag, custom: :switch

    .card-footer
      = f.primary t('shared.save')
