.card
  .card-header
    = t 'users.edit_roles', username: (@user.member ? @user.member.fullname : nil)
  = bootstrap_form_for(@user, url: make_role_user_path(@user), layout: :horizontal, html: { method: :post }) do |f|
    .card-body
      = f.collection_check_boxes :roles,  User::ROLES.sort,  :to_s, :to_s
      = f.collection_check_boxes :groups, User::GROUPS.sort, :to_s, :to_s

      = f.form_group do
        = label_tag class: 'checkbox' do
          = f.check_box :sport_flag

    .card-footer
      = f.form_group do
        = f.primary
