- set_meta_tags title: t('users.title')

.row
  .col-12
    .card
      .card-header
        .lead= t 'users.title'
      %table.table.table-striped.bg-light.mb-0
        %thead
          %tr
            %th.border-top-0
            %th.border-top-0(scope='col')= t 'member.fullname'
            %th.border-top-0(scope='col')
              = sort_link @q, :online_at, User.human_attribute_name(:updated_at), default_order: :desc
        %tbody
          - @users.each do |user|
            %tr
              %td
                = image_tag user.avatar.url(:thumb), class: 'thumbnail img-fluid'
              %td
                = link_to user.show_name, user
                - if (current_user.role? :admin) && !user.confirmed?
                  %span.text-danger{ title: "Не подтвержден", data: { toggle: 'tooltip' }}
                    = fa_icon 'exclamation-circle'

              %td
                = last_seen(user)
              - if current_user.role? :admin
                %td
                  .btn-group.float-right
                    %button.btn.btn-sm.btn-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
                      = fa_icon 'cog'
                    .dropdown-menu.dropdown-menu-right
                      = link_to t('profiles.edit'), edit_user_path(user), class: 'dropdown-item'
                      = link_to t('users.to_edit_roles'), edit_roles_user_path(user), class: 'dropdown-item'
