- set_meta_tags title: (@member.fullname if @member)

= content_for :bottom_block do
  .card.mt-3
    .card-body.py-3
      = link_to users_path, class: 'text-muted' do
        = t 'users.title'
        .float-right
          = fa_icon 'user', text: content_tag(:span, @online_users.size, class: 'user-online-counter')
      - if @online_users_without_current.any?
        .row.row-cols-3.my-3
          - @online_users_without_current.each do |user|
            = link_to user, class: 'col mb-2' do
              .card
                = image_tag user.avatar.url(:medium), class: 'card-img-top'
  - if @user == current_user
    .card.mt-3
      = link_to [@user, Folder], class: 'text-muted card-body py-3' do
        = fa_icon 'hdd', text: t('dataset.title')

.card.mt-2.mt-md-0
  .card-header
    .row
      .col
        .lead= @user.show_name
      .col-3.text-right
        = last_seen(@user)
        = remote_status(@member)
  .card-body
    - if (current_user.role? :admin)
      .row.py-1
        .col-xl-3.col-md-4.col-12.text-muted
          = t 'users.has_groups'
        .col-xl-9.col-md-8.col-12
          - @user.groups.each do |group|
            %span.badge.badge-primary= t "user.groups.#{group}"

      .row.py-1
        .col-xl-3.col-md-4.col-12.text-muted
          = t 'users.has_roles'
        .col-xl-9.col-md-8.col-12
          - @user.roles.each do |role|
            %span.badge.badge-primary= t "user.roles.#{role}"

    - if @member
      - if @member.department_id?
        .row.py-1
          .col-xl-3.col-md-4.col-12.text-muted
            = Member.human_attribute_name(:department_id)
          .col-xl-9.col-md-8.col-12
            = link_to @member.department.title, members_path(q: {department_id_eq: @member.department_id })

      .row.py-1
        .col-xl-3.col-md-4.col-12.text-muted
          = Member.human_attribute_name(:position)
        .col-xl-9.col-md-8.col-12
          = link_to position_link_text(@member.position), [@member, Position]

      - %i[number work_phone short_number phone email].each do |attr|
        .row.py-1
          .col-xl-3.col-md-4.col-12.text-muted
            = Member.human_attribute_name(attr)
          .col-xl-9.col-md-8.col-12
            - if @member[attr].present?
              - case attr
              - when :birth
                = l(@member[attr], format: :short)
              - else
                = @member[attr]
            - else
              = empty_tag

- if current_user.member
  .card.mt-3
    = render 'vacations/current_vacations',
      current_vacation: @current_vacation,
      current_vacations_soon: @current_vacations_soon,
      member: @member