- set_meta_tags title: (@member.fullname if @member)

.row
  .col-md-3.col-sm-4
    .card
      .card-body
        .row
          .col-12
            = image_tag @user.avatar(:original), class: 'img-fluid'
          .col-12.mt-3
            - if can? :edit, @user
              = link_to t('profiles.edit'), edit_user_path(@user), class: 'btn btn-outline-secondary btn-sm btn-block'
            - if can? :edit_roles, @user
              = link_to t('users.to_edit_roles'), edit_roles_user_path(@user), class: 'btn btn-outline-info btn-sm btn-block'

    .card.mt-3
      .card-header
        = link_to users_path, class: 'text-muted' do
          = t 'users.title'
          .float-right
            = fa_icon 'user', text: content_tag(:span, @online_users.size, class: 'user-online-counter')
      - if @online_users_without_current.any?
        .card-body
          .row.row-cols-3
            - @online_users_without_current.each do |user|
              = link_to user, class: 'col mb-2' do
                .card
                  = image_tag user.avatar.url(:thumb), class: 'card-img-top'
  .col
    .card.mt-2.mt-md-0
      .card-header
        .row
          .col
            .h3.mb-0= @user.show_name
          .col-3.text-right
            = last_seen(@user)
            = remote_status(@member)
      .card-body
        .row
          .col-md-12
            %dl.row
              - if (current_user.role? :admin)
                %dt.col-md-3.col-6.text-right= t 'users.has_groups'
                %dd.col-md-9.col-6
                  - @user.groups.each do |group|
                    %span.badge.badge-primary= t "user.groups.#{group}"
                %dt.col-md-3.col-6.text-right= t 'users.has_roles'
                %dd.col-md-9.col-6
                  - @user.roles.each do |role|
                    %span.badge.badge-primary= t "user.roles.#{role}"

              - if @member
                %dt.col-md-3.col-6.text-right
                  = Member.human_attribute_name(:department_id)
                %dd.col-md-9.col-6
                  = link_to @member.department.title, members_path(q: {department_id_eq: @member.department_id })
                - %i[number position work_phone short_number phone email].each do |attr|
                  %dt.col-md-3.col-6.text-right
                    = Member.human_attribute_name(attr)
                  %dd.col-md-9.col-6
                    - if @member[attr].present?
                      - case attr
                      - when :birth
                        = l(@member[attr], format: :short)
                      - else
                        = @member[attr]
                    - else
                      = empty_tag

    - if current_user.member
      .card.mt-3
        = render 'vacations/current_vacations',
          current_vacation: @current_vacation,
          current_vacations_soon: @current_vacations_soon,
          member: @member