- set_meta_tags title: (@member.fullname if @member)

.row.mt-4
  .col-md-3.col-sm-4
    .card
      .card-body
        .row
          .col-12
            = image_tag @user.avatar(:original), class: 'img-fluid'
          .col-12.mt-3
            - if can? :edit, @user
              = link_to t('profiles.edit'), edit_user_path(@user), class: 'btn btn-outline-secondary btn-sm btn-block'
            - if can? :edit_roles, @user
              = link_to t('users.to_edit_roles'), edit_roles_user_path(@user), class: 'btn btn-outline-info btn-sm btn-block'

  .col-md-9.col-sm-8
    .card.mt-2.mt-md-0
      .card-header
        .row
          .col
            .h3.mb-0= @member ? @member.fullname : @user.email
          .col-2.text-right
            = last_seen(@user)

      .card-body
        .row
          .col-md-12
            %dl.row
              - if (current_user.role? :admin)
                %dt.col-md-3.col-6.text-right= t 'users.has_groups'
                %dd.col-md-9.col-6
                  - @user.groups.each do |group|
                    %span.badge.badge-primary= t "user.groups.#{group}"
                %dt.col-md-3.col-6.text-right= t 'users.has_roles'
                %dd.col-md-9.col-6
                  - @user.roles.each do |role|
                    %span.badge.badge-primary= t "user.roles.#{role}"

              - if @member
                %dt.col-md-3.col-6.text-right= Member.human_attribute_name(:group)
                %dd.col-md-9.col-6= @member.group ? t("member.groups.#{@member.group}") : content_tag(:span, t('shared.empty'), class: 'text-muted')
                %dt.col-md-3.col-6.text-right= Member.human_attribute_name(:work_phone)
                %dd.col-md-9.col-6= @member.work_phone || content_tag(:span, t('shared.empty'), class: 'text-muted')
                %dt.col-md-3.col-6.text-right= Member.human_attribute_name(:short_number)
                %dd.col-md-9.col-6= @member.short_number || content_tag(:span, t('shared.empty'), class: 'text-muted')
                %dt.col-md-3.col-6.text-right= Member.human_attribute_name(:phone)
                %dd.col-md-9.col-6= @member.phone || content_tag(:span, t('shared.empty'), class: 'text-muted')
                %dt.col-md-3.col-6.text-right= Member.human_attribute_name(:email)
                %dd.col-md-9.col-6= @member.email || content_tag(:span, t('shared.empty'), class: 'text-muted')
                %dt.col-md-3.col-6.text-right= Member.human_attribute_name(:birth)
                %dd.col-md-9.col-6= @member.birth ? l(@member.birth, format: :short) : content_tag(:span, t('shared.empty'), class: 'text-muted')

    - unless @albums.empty? || @songs.empty?
      .card.mt-3
        .card-header
          = t 'albums.my_favorites'
        .card-body
          %ul.mainlist= render @albums
          %ul.playlist= render @songs, showalbum: true
