= div_for doc, role: 'tablist', class: 'my-2' do
  .card
    .card-header(role='tab' id="collapse_list_#{doc.id}")
      = link_to doc.title, "#collapse_#{doc.id}", role: 'button', data: { toggle: 'collapse' }, aria: { expanded: 'false', controls: "collapse_#{doc.id}" }
    - if doc.desc?
      .panel-collapse.collapse{id: "collapse_#{doc.id}", style: 'height:0px', role: 'tabpanel', aria: { labelledby: "collapse_#{doc.id}", expanded: 'false' }}
        .card-body
          %p.save-wspace
            %small= simple_format doc.desc

    .card-body
      .float-left
        = link_to t('docs.download'), doc.file.url, class: 'btn btn-sm btn-primary', target: '_blank'
        - if doc.desc?
          = link_to "#collapse_#{doc.id}", role: 'button', data: { toggle: 'collapse' }, aria: { expanded: 'false', controls: "collapse_#{doc.id}" }, class: 'btn btn-sm btn-secondary' do
            = t('docs.about')

        - if can? :manage, Doc
          .btn-group.ml-1
            .btn.btn-sm.btn-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
              = fa_icon 'cog'
            %ul.dropdown-menu
              = link_to edit_doc_path(doc), class: 'dropdown-item' do
                = fa_icon 'edit', text: t('shared.edit')
              = link_to doc_path(doc), method: :delete, data: { confirm: t('shared.sure') }, class: 'dropdown-item' do
                = fa_icon 'trash', text: t('shared.del')

      .float-right
        - unless doc.categories.empty?
          - doc.categories.each do |g|
            = link_to(docs_path(by_category: g.id), remote: true) do
              %span.badge.badge-secondary.label-pad><= g.title

