=div_for doc, class: 'well well-small' do
  %h6
    = doc.title
    %span.text-right
      -if doc.category
        %span.label.label-info=doc.category.title
  %p= simple_format doc.desc
  = link_to t('docs.download'), doc.file.url, :class => 'btn btn-mini btn-primary', target: '_blank'
  - if can? :manage, Doc
    = link_to t('shared.edit'), edit_doc_path(doc), :class => 'btn btn-mini'
    = link_to t('shared.del'), doc_path(doc), :method => :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-mini btn-danger'