= div_for doc, role: 'tablist', class: 'my-2' do
  .card
    .card-header(role='tab' id="collapse_list_#{doc.id}")
      = link_to doc.title, "#collapse_#{doc.id}", role: 'button', data: { toggle: 'collapse' }, aria: { expanded: 'false', controls: "collapse_#{doc.id}" }
      = fa_icon :link, class: 'float-right text-muted', data: { toggle: 'modal', target: "#modal_#{doc.id}_url" }
      .modal.fade{id: "modal_#{doc.id}_url", role: 'dialog', tabindex: '-1', aria: { hidden: 'true', labelledby: "modal_#{doc.id}_url_label" }}
        .modal-dialog
          .modal-content
            .modal-header
              %h5= t 'docs.copy_url'
              %button.close(type='button' data-dismiss='modal' aria-label="Close")
                %span(aria-hidden="true") &times;
            .model-body
              .m-3.mt-0
                = text_field_tag 'url', doc_url(doc), class: 'form-control'

    - if doc.desc?
      .panel-collapse.collapse{id: "collapse_#{doc.id}", style: 'height:0px', role: 'tabpanel', aria: { labelledby: "collapse_#{doc.id}", expanded: 'false' }}
        .card-body
          %p.save-wspace
            %small= simple_format doc.desc

    .card-body
      .float-left
        = link_to follow_doc_path(doc), class: 'btn btn-sm btn-light mr-2 favorite-link', remote: true, method: :post, target: '_blank', title: t('shared.add_favorite'), data: { toggle: 'tooltip' } do
          = fa_icon :star, type: (doc.followed_by?(current_user) ? nil : :regular)
        - if doc.document.attached?
          = link_to t('docs.download'), doc.document, class: 'btn btn-sm btn-primary', target: '_blank'
        - if doc.desc?
          = link_to "#collapse_#{doc.id}", role: 'button', data: { toggle: 'collapse' }, aria: { expanded: 'false', controls: "collapse_#{doc.id}" }, class: 'btn btn-sm btn-secondary' do
            = t('docs.about')
        - if can? :manage, Doc
          .btn-group.ml-1
            .btn.btn-sm.btn-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
              = fa_icon 'cog'
            %ul.dropdown-menu
              = link_to edit_doc_path(doc), class: 'dropdown-item' do
                = fa_icon 'edit', text: t('shared.edit')
              = link_to doc_path(doc), method: :delete, data: { confirm: t('shared.sure') }, class: 'dropdown-item' do
                = fa_icon 'trash', text: t('shared.del')

      .float-right
        - if doc.categories.any?
          - doc.categories.each do |g|
            = link_to(docs_path(by_category: g.id), remote: true) do
              %span.badge.badge-secondary.label-pad><= g.title

