- set_meta_tags title: t('docs.title')

- content_for :sidebar do
  .panel.panel-default
    .panel-heading
      .panel-title
        = link_to t('categories.title'), docs_path
        - if can? :manage, Category
          = link_to categories_path, class: 'btn btn-default btn-xs pull-right' do
            %i.glyphicon.glyphicon-cog

    .panel-body
      = bootstrap_form_for(@q, url: docs_path, method: :get) do |f|
        = f.text_field :title_cont, hide_label: true, placeholder: t('shared.search'),
          append: content_tag(:span, '', class: 'glyphicon glyphicon-search')

    = arranged_tree_as_list(@categories) do |category|
      = link_to category.title,
        docs_path(by_category: category.id),
        remote: true,
        id: dom_id(category),
        class: "slide-link #{category.hidden? || (!category.parent.nil? && category.parent.hidden?) ? ' hide' : nil}"

    %hr
    %ul.nav.nav-pills.nav-stacked.nav-reddevil
      %li= link_to t('docs.no_cats'),
        docs_path(no_category: true),
        remote: true,
        id: 'categories_hidden',
        class: 'slide-link'

.well
  .row
    .col-xs-6
      %h4
        = t 'docs.title'
        %small
          %span.category-info= t('docs.in_category', category: @cat.title) if @cat
          %span.badge#docs-count= @docs.count

    - if can? :manage, Doc
      .col-xs-6.text-right
        %small= link_to t('.new', default: t('helpers.links.new')), new_doc_path, class: 'btn btn-primary'

#doc-list= render @docs
