- content_for :sidebar do
  .ny-block
    %h4
      = link_to t('categories.title'), docs_path
      - if can? :manage, Category
        = link_to categories_path, class: 'btn btn-mini' do
          %i.icon-cog

    = search_form_for(@q, url: docs_path ) do |f|
      .controls
        .input-prepend
          %span.add-on
            %i.icon-search
          = f.text_field :title_cont, placeholder: t('shared.search'), class: 'search_field'

    = arranged_tree_as_list(@categories) do |category|
      = link_to(docs_path(by_category: category.id), remote: true, id: dom_id(category), class: "slide-link#{category.hidden? || (!category.parent.nil? && category.parent.hidden?) ? ' hide' : nil}") do
        = category.title

.ny-block
  .page-header
    %h4
      = t 'docs.title'
      %span.category-info= t('docs.in_category', category: @cat.title) if @cat
      %small#docs-count= @docs.count

      - if can? :manage, Doc
        %small= link_to t('.new', default: t('helpers.links.new')), new_doc_path, class: 'btn btn-primary'

  #doc-list= render @docs
