%td.nowrap
  .tip
    - [delivery.doc, delivery.delivery].each_with_index do |d, index|
      - if d
        = link_to_if (current_user && ((current_user.has_group? :sellers) || (current_user.role? :admin))), short_date(d), get_delivery_form_year_purchase_path(@year, purchase), data: {target: "#dialog_delivery_#{purchase.id}", toggle: 'modal'}, class: 'modal-link', remote: true
      - else
        ?
      - if index == 0
        \ -
        .modal.fade(tabIndex='-1' role='dialog' id="dialog_delivery_#{purchase.id}")
    .tip-text
      %dl.dl-horizontal
        %dt= Delivery.human_attribute_name(:doc)
        %dd= Delivery.human_attribute_name(:delivery)
        %hr
        - purchase.deliveries.each do |d|
          %dt= short_date d.doc
          %dd= short_date d.delivery
