= nested_form_for [@year, @purchase], html: { class: 'form-horizontal' } do |f|

  .control-group
    = f.label :title, class: 'control-label'
    .controls= f.text_field :title, class: 'text_field'

  .control-group
    = f.label :price, class: 'control-label'
    .controls= f.number_field :price, class: 'number_field', step: 0.01, min: 0

  .control-group
    = f.label :provider, class: 'control-label'
    .controls= f.text_field :provider, class: 'text_field'

  .control-group
    = f.label :doc, class: 'control-label'
    .controls= f.text_field :doc, class: 'text_field'

  - if params[:action] == 'edit'
    .control-group
      = f.label :user_id, class: 'control-label'
      .controls= f.select :user_id, options_from_collection_for_select(User.sellers, :id, :login, @purchase.user_id)

  %hr/

  = f.fields_for :columnships do |c|
    .control-group
      = c.label :data, c.object.column.name, class: 'control-label'
      .controls
        - case c.object.column.column_type
        - when 'integer'
          = c.number_field :data, class: 'number_field', min: 0
        - when 'price'
          = c.number_field :data, class: 'number_field', step: 0.01, min: 0
        - when 'datetime'
          = c.text_field :data, class: 'datepicker', value: (c.object.data.to_datetime.strftime('%d.%m.%Y') if c.object.data.present?)
        - when 'string'
          = c.text_field :data, class: 'text_field'
        - else
          = c.text_area :data, class: 'text_field'

  = f.fields_for :deliveries do |c|
    %hr/
    .control-group
      = c.label :doc, class: 'control-label'
      .controls
        = c.text_field :doc, class: 'datepicker', value: (c.object.doc.to_datetime.strftime('%d.%m.%Y') if c.object.doc.present?)
    .control-group
      = c.label :delivery, class: 'control-label'
      .controls
        = c.text_field :delivery, class: 'datepicker', value: (c.object.delivery.to_datetime.strftime('%d.%m.%Y') if c.object.delivery.present?)
    .control-group
      .controls= c.link_to_remove t('columns.remove')
  = f.link_to_add :deliveries, class: 'btn' do
    %i.icon.icon-plus
    = t('columns.add')

  .form-actions
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('shared.cancel'), [@year, Purchase], class: 'btn'