= bootstrap_nested_form_for [@year, @purchase], layout: :horizontal do |f|
  = f.text_field :title
  = f.number_field :price, step: 0.01, min: 0
  = f.text_field :provider
  = f.text_field :doc
  - if params[:action] == 'edit'
    = f.select :user_id, options_from_collection_for_select(User.sellers, :id, :login, @purchase.user_id)

  %hr/

  = f.fields_for :columnships do |c|
    - case c.object.column.column_type
    - when 'integer'
      = c.number_field :data, label: c.object.column.name, min: 0
    - when 'price'
      = c.number_field :data, label: c.object.column.name, step: 0.01, min: 0
    - when 'datetime'
      = c.text_field :data, value: (c.object.data.to_datetime.strftime('%d.%m.%Y') if c.object.data.present?),
        label: c.object.column.name,
        class: 'datepicker'
    - when 'string'
      = c.text_field :data, label: c.object.column.name
    - else
      = c.text_area :data, label: c.object.column.name

  = f.fields_for :deliveries do |c|
    %hr/
    = c.text_field :doc, class: 'datepicker', value: (c.object.doc.to_datetime.strftime('%d.%m.%Y') if c.object.doc.present?)
    = c.text_field :delivery, class: 'datepicker', value: (c.object.delivery.to_datetime.strftime('%d.%m.%Y') if c.object.delivery.present?)
    = c.form_group do
      = c.link_to_remove t('columns.remove')
  = f.link_to_add :deliveries, class: 'btn btn-secondary' do
    = fa_icon 'plus', text: t('columns.add')

  = f.form_group do
    = f.primary
    = link_to t('shared.cancel'), [@year, Purchase], class: 'btn btn-secondary'