= nested_form_for [year, purchase], remote: true, html: { class: 'form-horizontal' } do |f|
  .modal-body

    = f.fields_for :columnships, @columnship do |c|
      - if c.object.column.column_type == 'datetime'
        = render partial: 'datefield', locals: {c: c}
      - else
        .control-group
          = c.label :data, c.object.column.name, class: 'control-label'
          .controls
            -if c.object.column.column_type == 'int'
              = c.number_field :data, class: 'number_field', min: 0
            -elsif c.object.column.column_type == 'price'
              = c.number_field :data, class: 'number_field', step: 0.01, min: 0
            -else
              = c.text_field :data

  .modal-footer
    %button.btn(data-dismiss='modal' aria-hidden='true')= t 'shared.close'
    = f.submit nil, class: 'btn btn-primary'
