.modal-dialog(role='document')
  .modal-content
    = bootstrap_nested_form_for [year, purchase], remote: true, layout: :horizontal do |f|
      .modal-body

        = f.fields_for :columnships, @columnship do |c|
          - if c.object.column.column_type == 'datetime'
            = render partial: 'datefield', locals: {c: c}
          - else
            - if c.object.column.column_type == 'int'
              = c.number_field :data, label: c.object.column.name, min: 0
            - elsif c.object.column.column_type == 'price'
              = c.number_field :data, label: c.object.column.name, step: 0.01, min: 0
            - else
              = c.text_field :data, label: c.object.column.name

      .modal-footer
        %button.btn.btn-default(data-dismiss='modal')= t 'shared.close'
        = f.primary
