- if columnship.data?
  - object_property = if (columnship.column.column_type == 'datetime')
    - short_date columnship.data
  - elsif columnship.column.column_type == 'price'
    - number_to_currency(columnship.data, precision: 2, delimiter: ' ')
  - else
    - columnship.data
- else
  - object_property = content_tag(:div, fa_icon('plus'), class: 'btn btn-default btn-xs purchase-actions')
- if current_user && ((current_user.has_group? :sellers) || (current_user.role? :admin))
  = link_to object_property, get_form_year_purchase_path(@year, columnship.purchase, columnship: columnship), data: {target: "#dialog_#{columnship.purchase_id}_#{columnship.column.id}", toggle: 'modal'}, class: 'modal-link', remote: true
  .modal.fade(tabIndex='-1' role='dialog' id="dialog_#{columnship.purchase_id}_#{columnship.column.id}")
