= content_tag_for(:tr, purchase) do
  %th(scope="row")= purchase_counter + 1

  - purchase.columnships.each do |c|
    %td{ class: (%w(price integer).include? c.column.column_type) ? 'nowrap' : nil }
      = render 'purchase_formblock', columnship: c
  %td
    .btn-group
      = link_to edit_table_purchase_path(@table, purchase), class: 'btn btn-secondary btn-sm', title: t('shared.edit'), data: { toggle: 'tooltip' } do
        = fa_icon 'cog'
      = link_to [@table, purchase], :method => :delete, title: t('shared.del'), data: { confirm: t('shared.sure'), toggle: 'tooltip' }, class: 'btn btn-sm btn-danger' do
        = fa_icon 'trash'
