= content_tag_for(:tr, purchase) do
  %td= purchase_counter + 1
  %td.main-title
    .pull-left= render 'purchase_attr', year: @year, purchase: purchase, attr: :title, type: 'string'
    .pull-right
      = fa_icon 'asterisk', class: 'tip' do
        .tip-text
          .pull-left
            .btn-group.purchase-actions
              = link_to edit_year_purchase_path(@year, purchase), class: 'btn btn-default btn-xs', title: t('shared.edit') do
                = fa_icon 'cog'
              = link_to [@year, purchase], :method => :delete, title: t('shared.del'), data: { confirm: t('shared.sure') }, class: 'btn btn-xs btn-danger' do
                = fa_icon 'trash-o'
          .pull-right= purchase.user.profile.surname
          .clearfix
          %hr
          %dl.dl-horizontal
            %dt= Purchase.human_attribute_name(:price)
            %dd= purchase.price? ? number_to_currency(purchase.price, precision: 2, delimiter: ' ') : t('shared.empty')
            %dt= Purchase.human_attribute_name(:provider)
            %dd= purchase.provider || t('shared.empty')
            %dt= Purchase.human_attribute_name(:doc)
            %dd= purchase.doc || t('shared.empty')

  - purchase.columnships.each do |c|
    %td{ class: (%w(price integer).include? c.column.column_type) ? 'nowrap' : nil }
      = render 'purchase_formblock', columnship: c
  - unless purchase.deliveries.pluck(:id).empty?
    = render partial: 'purchases/delivery', locals: { purchase: purchase, delivery: purchase.deliveries.last }
  - else
    %td
      .purchase-actions
        = link_to get_delivery_form_year_purchase_path(@year, purchase), data: {target: "#dialog_delivery_#{purchase.id}", toggle: 'modal'}, class: 'modal-link btn btn-default btn-xs', remote: true do
          = fa_icon 'cog'
      .modal.fade(tabIndex='-1' role='dialog' id="dialog_delivery_#{purchase.id}")
