- model_class = Purchase

.rowwww
  .span1222
    .alert.alert-info= t 'shared.building'

    .page-header
      %h1
        =t 'purchases.title'
        %small= link_to t('.new', :default => t("helpers.links.new")), new_purchase_path, :class => 'btn btn-primary'

    .purchases-table.well
      %table.table.table-bordered.table-hover.table-condensed
        %thead.header
          %tr
            %th(colspan='7')=t 'purchases.basic_info'
            %th(colspan='5')=t 'purchases.ask_price'
            %th(colspan='3')=t 'purchases.info_share'
            %th(colspan='1')=t 'purchases.erp'
            %th(colspan='3')=t 'purchases.buy_depart'
            %th(colspan='3')=t 'purchases.dogovor_depart'
            %th(colspan='4')=t 'purchases.payment'
            %th(colspan='2')=t 'purchases.delivery'

          %tr
            %th №
            %th= model_class.human_attribute_name(:title)
            %th= model_class.human_attribute_name(:price)
            %th= model_class.human_attribute_name(:provider)
            %th= model_class.human_attribute_name(:doc)
            %th= model_class.human_attribute_name(:user_id)
            %th= model_class.human_attribute_name(:startdate)
            %th= model_class.human_attribute_name(:zkpdate)
            %th= model_class.human_attribute_name(:kp)
            %th= model_class.human_attribute_name(:zsc_kp)
            %th= model_class.human_attribute_name(:nmc)
            %th= model_class.human_attribute_name(:aztz)
            %th= model_class.human_attribute_name(:conclusion_expert)
            %th= model_class.human_attribute_name(:analytic)
            %th= model_class.human_attribute_name(:conclusion_pdtk)
            %th= model_class.human_attribute_name(:erp)
            %th= model_class.human_attribute_name(:request)
            %th= model_class.human_attribute_name(:bidding)
            %th= model_class.human_attribute_name(:committee)
            %th= model_class.human_attribute_name(:contract_request)
            %th= model_class.human_attribute_name(:contract_project)
            %th= model_class.human_attribute_name(:contract)
            %th= model_class.human_attribute_name(:prepay_date)
            %th= model_class.human_attribute_name(:prepay_sum)
            %th= model_class.human_attribute_name(:warmth_date)
            %th= model_class.human_attribute_name(:warmth_sum)
            %th= model_class.human_attribute_name(:proxy)
            %th= model_class.human_attribute_name(:delivery)
        %tbody= render partial: 'purchase', collection: @purchases