- model_class = Purchase

.row
  .span12
    .well
      .alert.alert-info= t 'shared.building'

      .page-header.clearfix
        %h3.pull-left
          = t 'purchases.title'
          - if can? :manage, @year
            %small
              = link_to t('shared.edit'), edit_year_path(@year), class: 'btn btn-mini'
              = link_to t('shared.del'), @year, method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-mini btn-danger'
        .pull-right
          - User.sellers.each do |u|
            = link_to user_profile_path(u), title: u.profile.surname do
              = image_tag u.profile.avatar(:thumb), width: '30px', class: 'img-circle img-circle-bordered'

      .purchases-table
        %table.table.table-bordered.table-hover.table-condensed.table-white
          %thead.header
            %tr
              %th №
              %th= model_class.human_attribute_name(:title)
              - @year.columns.each do |column|
                %th= column.name
              %th= t 'deliveries.title'

          %tbody= render partial: 'purchase', collection: @purchases
        = link_to new_form_year_purchase_path(@year, Purchase), method: :post, remote: true, disable_with: t('shared.waiting'), class: 'btn btn-primary btn-small' do
          %i.icon.icon-plus
          &nbsp;
          = t('purchases.add_new')