= bootstrap_form_for [@year, @column], layout: :horizontal do |f|
  = f.text_field :name
  = f.select(:column_type, Year::TYPES, { include_blank: t('categories.select_category') } )
  = f.form_group do
    = f.primary
