%h1 Listing columns

%table
  %tr
    %th Name
    %th Type
    %th Year
    %th
    %th
    %th

  - @columns.each do |column|
    %tr
      %td= column.name
      %td= column.column_type
      %td= column.year
      %td= link_to 'Show', [@year, column]
      %td= link_to 'Edit', edit_year_column_path(@year, column)
      %td= link_to 'Destroy', [@year, column], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Column', new_year_column_path(@year)
