= bootstrap_form_for @department, html: { class: 'card'} do |f|
  .card-header
    %h3= formtitle

  .card-body
    = render 'application/error', object: @department

    = f.text_field :title

  .card-footer
    = f.primary
    .float-right
      = link_to t('shared.cancel'), departments_path, class: 'btn btn-secondary'
