%p#notice= notice

%p
  %b Total:
  = @result.total
%p
  %b User:
  = @result.user
%p
  %b Tempuser:
  = @result.tempuser
%p
  %b Round:
  = @result.round

= link_to 'Edit', edit_result_path(@result)
\|
= link_to 'Back', results_path
