= bootstrap_form_for [@user, @event], layout: :horizontal do |f|
  = f.text_field :title
  = f.text_area :content
  = f.datetime_select :start_date
  = f.datetime_select :end_date
  = f.form_group do
    = f.primary
