= bootstrap_form_for [@user, @event], layout: :horizontal do |f|
  .card-body
    = f.text_field :title
    = f.text_area :content
    = f.date_field :start_date
    = f.date_field :end_date
  .card-footer
    = f.primary
