= bootstrap_form_for [@user, @event], layout: :horizontal do |f|
  .card-body
    = f.text_field :title
    = f.text_area :content

    = f.form_group do
      .input-daterange
        = f.text_field :start_date,
          prepend: t('vacations.from'),
          hide_label: true,
          inline: true,
          value: (f.object.start_date.to_datetime.strftime('%d.%m.%Y') if f.object.start_date?)

        = f.text_field :end_date,
          hide_label: true,
          prepend: t('vacations.to'),
          inline: true,
          value: (f.object.end_date.to_datetime.strftime('%d.%m.%Y') if f.object.end_date?)
  .card-footer
    = f.form_group do
      = f.primary
