- if song.file?
  = content_tag_for(:li, song) do
    = link_to song.clean_filename, song.file.url
    %span.song-icons.pull-left
      = link_to like_album_song_path(song.album, song), method: :post, remote: true, class: 'icon-star-link', data: { toggle: 'tooltip' }, title: t('shared.add_favorite') do
        = current_user.likes?(song) ? fa_icon('star', class: 'icon-like-song') : fa_icon('star-o', class: 'icon-like-song')
      = link_to download_album_song_path(song.album, song), target: '_blank', data: { toggle: 'tooltip' }, title: t('shared.download') do
        = fa_icon 'download'
    - if showalbum
      (#{ link_to song.album.title, song.album })
    - if (can? :destroy, song) && !(%w[list favorites].include? params[:action])
      %span.sec-links
        = link_to t('shared.del'), [song.album, song], method: :delete, data: { confirm: t('shared.sure') }