%h3= t 'songs.add'

= form_for [@album, @song], html: { class: 'form-horizontal' }  do |f|
  - if @song.errors.any?
    #error_explanation
      %h2= "#{pluralize(@song.errors.count, "error")} prohibited this song from being saved:"
      %ul
        - @song.errors.full_messages.each do |msg|
          %li= msg

  .control-group
    = f.label :title, class: 'control-label'
    .controls= f.text_field :title
  .control-group
    = f.label :file, class: 'control-label'
    .controls= f.file_field :file, class: 'text_field'
  .form-actions
    = f.submit t('shared.save'), class: 'btn btn-primary'
    = link_to t('shared.cancel'), @album, class: 'btn'