= bootstrap_form_for @album, layout: :horizontal, html: { multipart: true } do |f|
  = f.hidden_field :parent_id

  = f.text_field :title
  = f.form_group do
    = file_field_tag "songs[]", type: :file, multiple: true

  = f.form_group do
    = f.primary t('shared.save')
    = link_to t('shared.cancel'), :back, class: 'btn btn-secondary'
