- set_meta_tags title: t('shared.music')

= content_for :sidebar do
  = bootstrap_form_for(@q, url: albums_path, html: { method: :get }) do |f|
    = f.text_field :file_file_name_cont, prepend: content_tag(:span, '', class: 'glyphicon glyphicon-search'), placeholder: t('shared.search'), hide_label: true

%p.text-right
  %span.label.label-info
    = plural(Song.count, 'song')
    (#{number_to_human_size(Song.sum(:file_file_size))})

.ny-block
  %ul.nav.nav-tabs(role='tablist')
    - if params[:q]
      %li(role='presentation')
        = link_to t('songs.find'), '#find_songs', data: {toggle: 'tab', role: 'tab'}, aria: {controls: 'find_songs'}
    %li.active(role='presentation')
      = link_to t('albums.all'), '#main_songs', data: {toggle: 'tab', role: 'tab'}, aria: {controls: 'main_songs'}
    %li(role='presentation')
      = link_to t('albums.newer'), '#new_songs', data: {toggle: 'tab', role: 'tab'}, aria: {controls: 'new_songs'}
    - if can? :new, Album
      %li= link_to t('albums.add'), new_album_path

  .tab-content
    - if params[:q]
      %ul.playlist.tab-pane#find_songs(role='tabpanel')
        = render @songs, showalbum: true
    %ul.mainlist.tab-pane.active#main_songs(role='tabpanel')
      = render @albums
    %ul.playlist.tab-pane#new_songs(role='tabpanel')
      .endless= render @new_songs, showalbum: true

      = will_paginate @new_songs