- set_meta_tags title: t('shared.music')

= content_for :sidebar do
  = search_form_for(@q, url: albums_path, html: { method: :get }) do |f|
    .form-group
      .input-group
        .input-group-prepend
          .input-group-text= fa_icon 'search'
        = f.search_field :file_file_name_cont, placeholder: t('shared.search'), class: 'form-control'

.card
  .card-body
    %ul.nav.nav-tabs.pull-left
      - if params[:q]
        %li.nav-item
          = link_to t('songs.find'), '#find_songs', data: { toggle: 'tab', role: 'tab' }, aria: { controls: 'find_songs' }, class: 'nav-link active'
      %li.nav-item
        = link_to t('albums.all'),   '#main_songs', data: { toggle: 'tab', role: 'tab' }, aria: { controls: 'main_songs' }, class: "nav-link #{params[:q] ?  nil : 'active'}"
      %li.nav-item
        = link_to t('albums.newer'), '#new_songs',  data: { toggle: 'tab', role: 'tab' }, aria: { controls: 'new_songs' }, class: 'nav-link'
      - if can? :new, Album
        %li.nav-item= link_to t('albums.add'), new_album_path, class: 'nav-link'
    .pull-right
      %span.badge.badge-info
        = plural(Song.count, 'song')
        (#{number_to_human_size(Song.sum(:file_file_size))})
    .clearfix

    .tab-content
      - if params[:q]
        - unless @songs.empty?
          %ul.playlist.active.tab-pane#find_songs(role='tabpanel')
            = render @songs, showalbum: true
        - else
          .active.tab-pane#find_songs(role='tabpanel')
            .alert.alert-warning(role='alert')= t 'shared.not_find'
      %ul.mainlist.tab-pane#main_songs{ role: 'tabpanel', class: (params[:q] ? nil : 'active' )}
        = render @albums
      %ul.playlist.tab-pane#new_songs(role='tabpanel')
        .endless= render @new_songs, showalbum: true

        = will_paginate @new_songs