- set_meta_tags title: t('shared.music')

= content_for :sidebar do
  = search_form_for(@q, url: albums_path, html: { method: :get }) do |f|
    .form-group
      .input-group
        .input-group-prepend
          .input-group-text= fa_icon 'search'
        = f.search_field :file_file_name_cont, placeholder: t('shared.search'), class: 'form-control'

.card
  .card-body
    %ul.nav.nav-tabs.float-left(role='tablist')
      - if params[:q]
        %li.nav-item
          = link_to t('songs.find'), '#find-songs', data: { toggle: 'tab' }, id: 'find-songs-tab', role: 'tab', aria: { controls: 'find-songs' }, class: 'nav-link active'
      %li.nav-item
        = link_to t('albums.all'),   '#main-songs', data: { toggle: 'tab' }, id: 'main-songs-tab', role: 'tab', aria: { controls: 'main-songs' }, class: "nav-link #{(params[:q] ? nil : 'active')}"
      %li.nav-item
        = link_to t('albums.newer'), '#new-songs',  data: { toggle: 'tab' }, id: 'new-songs-tab',  role: 'tab', aria: { controls: 'new-songs' },  class: 'nav-link'
      - if can? :new, Album
        %li.nav-item= link_to t('albums.add'), new_album_path, class: 'nav-link'
    .float-right
      %span.badge.badge-info
        = plural(Song.count, 'song')
        (#{number_to_human_size(Song.sum(:file_file_size))})
    .clearfix

    .tab-content
      - if params[:q]
        .tab-pane.fade.show.active#find-songs(role='tabpanel' aria-labelledby='find-songs-tab')
          - unless @songs.empty?
            %ul.playlist.mt-3
              = render @songs, showalbum: true
          - else
            .alert.alert-warning(role='alert')= t 'shared.not_find'
      .tab-pane.fade#main-songs{ role: 'tabpanel', aria: { labelledby: 'main-songs-tab' }, class: (params[:q] ? nil : 'active show') }
        %ul.mainlist.list-group.mt-3
          = render @albums
      .tab-pane.fade#new-songs{ role: 'tabpanel', aria: { labelledby: 'new-songs-tab' } }
        %ul.playlist.mt-3
          .endless= render @new_songs, showalbum: true

        .div-pagy(hidden)= will_paginate @new_songs