.card
  .card-body
    %nav(aria-label='breadcrumb')
      .row
        .col
          = content_tag_for(:ol, @album, class: 'breadcrumb h4') do
            %li.breadcrumb-item= link_to t('shared.music'), albums_path
            - @album.ancestors.each do |a|
              %li.breadcrumb-item= link_to a.title, a
            %li.breadcrumb-item
              = @album.title
              = link_to like_album_path(@album), method: :post, remote: true do
                = current_user.likes?(@album) ? fa_icon('star') : fa_icon('star', class: 'text-muted')

    - @albums.each do |album|
      %p
        = link_to album.title, album
        - if can? :manage, album
          = link_to t('shared.edit'), edit_album_path(album)
          = link_to t('shared.del'), album, method: :delete, data: { confirm: t('shared.sure') }

    %ul.playlist= render @album.songs, showalbum: false

  .card-footer
    %ul.nav
      - if can? :manage, @album
        .nav-item= link_to t('shared.edit'), edit_album_path(@album), class: 'nav-link'
      - if can? :new, Song
        .nav-item= link_to t('songs.add'), new_album_song_path(@album), class: 'nav-link'
      .nav-item= link_to t('albums.add'), new_album_path(parent_id: @album.id), class: 'nav-link' if can? :new, Album