- model_class = Tempuser
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:username)
      %th=t '.actions', :default => t("helpers.actions")
  %tbody
    - @tempusers.each do |tempuser|
      %tr
        %td= tempuser.username
        - if can? :manage, tempuser
          %td
            = link_to t('shared.edit'), edit_tempuser_path(tempuser), :class => 'btn btn-mini'
            = link_to t('shared.del'), tempuser_path(tempuser), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-mini btn-danger'

-if can? :manage, Tempuser
  = link_to t('.new', :default => t("helpers.links.new")), new_tempuser_path, :class => 'btn btn-primary'
