- model_class = Tempuser
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize

%p= @tempuser.username
%p= @tempuser.user.email if @tempuser.user

.form-group
  = link_to t('.back', :default => t("helpers.links.back")), tempusers_path, :class => 'btn btn-default'
  - if can? :manage, @tempuser
    = link_to t('shared.edit'), edit_tempuser_path(@tempuser), :class => 'btn btn-default'
    = link_to t('shared.del'), tempuser_path(@tempuser), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger'
