= bootstrap_form_for @manufacture_group, html: { class: 'card' } do |f|
  .card-header
    = render 'application/breadcrumb', titles: [formtitle], class_name: Manufacture
  .card-body
    = render 'application/error', object: @manufacture_group
    .row
      .col
        = f.text_field :title
    .row
      .col
        = f.text_field :contract
      .col
        .mt-4= f.check_box :without_contract, custom: :switch
    .row
      .col
        = f.date_field :limit_at

  - if %w[new create].include? params[:action]
    .card-header
      .lead= t 'manufactures.title_simple'
    .card-body
      .row
        .col
          .nested-fields.selectpicker-refresh
            = f.fields_for :manufactures do |match|
              = render 'manufacture_fields', f: match
            = link_to_add_association f, :manufactures, class: 'btn btn-outline-secondary btn-sm' do
              = fa_icon :plus, text: t('shared.add')

  .card-footer
    = f.submit t('shared.save')
    .float-right
      = link_to t('shared.back'), manufactures_path, class: 'btn btn-outline-secondary'
