= bootstrap_form_for @manufacture_group, html: { class: 'card' } do |f|
  .card-header
    = render 'application/breadcrumb', titles: [formtitle], class_name: Manufacture
  .card-body
    = render 'application/error', object: @manufacture_group
    .row
      .col
        = f.text_field :title
    .row
      .col
        = f.text_field :contract
      .col
        .mt-4= f.check_box :without_contract, custom: :switch
    .row
      .col
        = f.text_field :limit_at, class: 'datepicker',
                  value: (f.object.limit_at.to_datetime.strftime('%d.%m.%Y') if f.object.limit_at.present?)

  .card-footer
    = f.submit t('shared.save')
    .float-right
      = link_to t('shared.back'), manufactures_path, class: 'btn btn-outline-secondary'
