= bootstrap_form_for @manufacture, html: { class: 'card' } do |f|
  .card-header
    - if params[:action] == 'edit'
      = render 'application/breadcrumb', titles: [link_to(@manufacture.title, @manufacture), formtitle], class_name: Manufacture
    - else
      = render 'application/breadcrumb', titles: [formtitle], class_name: Manufacture
  .card-body
    = render 'application/error', object: @manufacture

    = f.text_field :title
    .row
      .col
        = f.text_field :drawing
        = f.select :material, Manufacture::MATERIALS.map { |c| [c, c] }, { include_blank: t('shared.to_select') }, { class: 'selectpicker' }
      .col
        = f.text_field :contract
        = f.text_field :machine
    = f.text_field :operation
    .row
      .col
        = f.text_field :user
      .col
        = f.select :priority, {}, {}, { class: 'selectpicker' } do
          - Manufacture::PRIORITIES.each do |p|
            = content_tag :option,
              t("substrates.priorities.#{p}"),
              value: p,
              data: { content: priority_select_tag(p) },
              selected: (f.object.priority == p)

  .card-footer
    = f.submit t('shared.save')
    .float-right
      = link_to t('shared.back'), manufactures_path, class: 'btn btn-outline-secondary'

