= bootstrap_form_for @manufacture, html: { class: 'card' } do |f|
  .card-header
    - if params[:action] == 'edit'
      = render 'application/breadcrumb', titles: [link_to(@manufacture.title, @manufacture), formtitle], class_name: Manufacture
    - else
      = render 'application/breadcrumb', titles: [formtitle], class_name: Manufacture
  .card-body
    = render 'application/error', object: @manufacture

    .row
      .col
        = f.text_field :title
      .col
        = f.select :manufacture_group_id, ManufactureGroup.order(:title).map { |group| [group.title, group.id] }, { include_blank: t('shared.to_select'), selected: params[:manufacture_group_id] || @manufacture.manufacture_group_id }, { class: 'selectpicker' }
    .row
      .col
        = f.text_field :drawing
        = f.select :material, Manufacture::MATERIALS.map { |c| [c, c] }, { include_blank: t('shared.to_select') }, { class: 'selectpicker' }
      .col-6
        = f.text_field :machine
    .row
      .col
        = f.text_field :user
      .col
        = f.select :priority, {}, {}, { class: 'selectpicker' } do
          - Manufacture::PRIORITIES.each do |p|
            = content_tag :option,
              t("substrates.priorities.#{p}"),
              value: p,
              data: { content: priority_select_tag(p) },
              selected: (f.object.priority == p)
  .card-header
    = t 'operations.title'
  .card-body
    .row
      .col
        = f.fields_for :manufacture_operations do |operation|
          = render 'manufacture_operations_fields', f: operation
        .links
          = link_to_add_association f, :manufacture_operations, partial: 'manufacture_operations_fields' do
            = fa_icon 'plus', text: t('shared.add')

  .card-footer
    = f.submit t('shared.save')
    .float-right
      = link_to t('shared.back'), manufactures_path, class: 'btn btn-outline-secondary'
