- manufacture_id = dom_id manufacture
- last_operation = @last_operations.select{ |o| o if o.manufacture_id == manufacture.id }.first

.card
  .card-header{id: manufacture_id}
    .row
      .col-1
        = priority_tag(manufacture.priority)
        %span.pl-4{ title: manufacture.otk_desc, data: { toggle: 'tooltip' }}
          = otk_status_icon(manufacture.otk_status, 'fa-lg')
      .col-2
        = link_to manufacture.title, manufacture
        %span.tip.text-muted.ml-2
          = fa_icon 'question-circle lg'
          .tip-text
            %table.table.table-striped.table-sm.table-bordered
              %tr
                %th(scope="row")= Manufacture.human_attribute_name(:drawing)
                %td.col-9= manufacture.drawing
              %tr
                %th(scope="row")= Manufacture.human_attribute_name(:material)
                %td.col-9= manufacture.material
              %tr
                %th(scope="row")= Manufacture.human_attribute_name(:material_info)
                %td.col-9= manufacture.material_info
              %tr
                %th(scope="row")= Manufacture.human_attribute_name(:content)
                %td.col-9= manufacture.content

      - if last_operation
        .col-3
          = last_operation.operation.title
          - if last_operation.machine?
            (#{last_operation.machine})
        .col-2
          = last_operation.member.surname_name
        .col-2
          = short_date_with_month last_operation.started_at
          - last_operation_date = last_operation.finished_at
          - if last_operation_date
            \ /
            = short_date_with_month last_operation_date
      - else
        .col-7
      .col-1.actual-date
        .small{data: { toggle: 'tooltip' }, title: manufacture.updated_user ? manufacture.updated_user.surname : '' }
          = link_to actual_manufacture_path(manufacture), remote: true, data: { confirm: t('shared.sure_actual') } do
            = fa_icon :check_circle, text: short_date(manufacture.updated_at), class: 'text-success'
      .col-1.text-right
        .btn-group
          %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
            = fa_icon 'cog'
          .dropdown-menu.dropdown-menu-right
            = link_to manufacture, class: 'dropdown-item' do
              = fa_icon 'chevron-circle-right', text: t('manufactures.goto')
            = link_to edit_manufacture_path(manufacture), class: 'dropdown-item' do
              = fa_icon 'edit', text: t('shared.edit')
            = link_to manufacture, method: :delete, data: { confirm: t('shared.sure') }, class: 'dropdown-item' do
              = fa_icon 'trash', text: t('shared.del')