%tr{class: new_priority_color(manufacture.priority)}
  %td{ title: Manufacture.human_attribute_name(:priority) }
    = new_priority_tag(manufacture.priority)
  %td.text-center{ title: manufacture.otk_desc, data: { toggle: 'tooltip' }}
    - if can? :manage_otk, Manufacture
      = link_to otk_status_icon(manufacture.otk_status), manage_otk_substrate_path(manufacture)
    - else
      = otk_status_icon(manufacture.otk_status)

  %td= link_to manufacture.title, manufacture
  %td= manufacture.drawing
  %td= manufacture.contract
  %td= manufacture.material
  %td= manufacture.user
  %td= manufacture.machine
  %td= manufacture.operation
  %td
    .btn-group.float-right
      %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
        = fa_icon 'cog'
      .dropdown-menu.dropdown-menu-right
        = link_to edit_manufacture_path(manufacture), class: 'dropdown-item' do
          = fa_icon 'edit', text: t('shared.edit')
        = link_to manufacture, method: :delete, data: { confirm: t('shared.sure') }, class: 'dropdown-item' do
          = fa_icon 'trash', text: t('shared.del')
