.card
  .card-header
    = render 'application/breadcrumb', titles: [], class_name: Manufacture do
      .float-right
        = link_to '#search-form-collapse', data: { toggle: params[:q] ? '' : 'collapse' }, class: 'btn btn-outline-primary btn-sm' do
          = fa_icon 'filter', text: t('shared.filter')
        = link_to fa_icon(:plus, text: t('shared.add')), new_manufacture_path, class: 'btn btn-primary btn-sm  ml-2'
        = link_to fa_icon(:stream, text: t('operations.title')), operations_path, class: 'btn btn-success btn-sm  ml-2'

  .card-body
    = render 'manufactures/search_form'
    - if @manufactures.empty?
      .text-center.my-5
        .h3.text-muted= t('shared.search_empty')
    - else
      .row
        .col-1
          .p-2= sort_link @q, :otk_status, t('substrates.otk')
        .col
          .p-2= sort_link @q, :title, Manufacture.human_attribute_name(:title)
        .col
          .p-2
            =# sort_link @q, 'manufacture_operations_operation_title',  Manufacture.human_attribute_name(:operation)
            = Manufacture.human_attribute_name(:operation)
        .col
          .p-2
            =# sort_link @q, :manufacture_operations_operation_member_id,  Manufacture.human_attribute_name(:user)
            = Manufacture.human_attribute_name(:user)

      .accordion.manufactures#accordionManufacture
        = render @manufactures