- formtitle = t('substrates.manage_otk')
- set_meta_tags title: formtitle

= bootstrap_form_for @manufacture, html: { class: 'card' } do |f|
  .card-body
    = render 'breadcrumb', titles: [link_to(@manufacture.title, @manufacture), formtitle]
    = render 'error', object: @manufacture

    .row
      .col
        = f.select :otk_status, {}, {}, { class: 'selectpicker' } do
          - Manufacture::OTK_STATUSES.each do |s|
            = content_tag(:option, s, value: s, data: { content: otk_status_text(s) }, selected: s == f.object.otk_status )
    .row
      .col
        = f.text_area :otk_desc

    .row
      .col
        = f.file_field :otk_documents, multiple: true

  .card-footer
    = f.submit t('shared.save')
