.card
  .card-header
    = render 'application/breadcrumb', titles: [@manufacture.title], class_name: Manufacture do
      .float-right
        = link_to t('shared.edit'), edit_manufacture_path(@manufacture), class: 'btn btn-primary'
  .card-body
    %p
      %b=Manufacture.human_attribute_name(:priority)
      = new_priority_tag @manufacture.priority

    %p
      %b=Manufacture.human_attribute_name(:drawing)
      = @manufacture.drawing
    %p
      %b=Manufacture.human_attribute_name(:contract)
      = @manufacture.contract
    %p
      %b=Manufacture.human_attribute_name(:material)
      = @manufacture.material
    %p
      %b=Manufacture.human_attribute_name(:user)
      = @manufacture.user
    %p
      %b=Manufacture.human_attribute_name(:machine)
      = @manufacture.machine
    %p
      %b=Manufacture.human_attribute_name(:operation)
      = @manufacture.operation

  = render 'manufactures/otk_block', manufacture: @manufacture

  .card-footer
    .float-right
      = link_to t('shared.back'), manufactures_path
