.card
  .card-header
    = render 'application/breadcrumb', titles: [@manufacture.title], class_name: Manufacture do
      .float-right
        = link_to t('shared.edit'), edit_manufacture_path(@manufacture), class: 'btn btn-primary'
  .card-body
    %p
      %b=Manufacture.human_attribute_name(:priority)
      = priority_tag @manufacture.priority
    %p
      %b=Manufacture.human_attribute_name(:drawing)
      = @manufacture.drawing
    %p
      %b=Manufacture.human_attribute_name(:material)
      = @manufacture.material
    %p
      %b=Manufacture.human_attribute_name(:user)
      = @manufacture.user
    %p
      %b=Manufacture.human_attribute_name(:machine)
      = @manufacture.machine
    %p
      %b=Manufacture.human_attribute_name(:content)
      = @manufacture.content

  - if @operations.any?
    .card-header
      %h4.text-muted
        = t 'operations.title'

    %table.table.mb-0.table-hover.table-bordered
      %thead
        %tr
          %th= Manufacture.human_attribute_name(:deadline)
          %th= Manufacture.human_attribute_name(:operation)
          %th= Manufacture.human_attribute_name(:user)
      %tbody
        - @operations.each do |o|
          %tr
            %td
              = short_date_with_month o.started_at
              - if o.finished_at
                \-
                = short_date_with_month o.finished_at
            %td
              = o.operation.title
            %td
              = o.member.surname_name
            %td


  = render 'manufactures/otk_block', manufacture: @manufacture

  .card-footer
