= bootstrap_form_for @table, label: :horizontal, html: { class: 'card' } do |f|
  .card-header= formtitle

  .card-body
    = render 'error', object: @table
    = f.text_field :title

    #columns
      = f.fields_for :columns do |column|
        = render 'column_fields', f: column
      .links
        = link_to_add_association t('columns.add'), f, :columns
  .card-footer
    = f.primary t('shared.save')
    = link_to t('shared.cancel'), :back, class: 'btn btn-secondary'