= render @table
.container-fluid.bg-light.py-2
  .row
    .col
      .float-left
        = link_to new_form_table_row_path(@table), method: :post, remote: true, disable_with: t('shared.waiting'), class: 'btn btn-primary btn-sm' do
          = fa_icon 'plus', text: t('rows.add_new')

      .float-right.text-right.text-muted
        - if @table.tableable
          %p.strong= link_to @table.tableable.title, infocenter_category_path(@table.tableable)
        - if @last_redaction
          %p
            = t('rows.last_editing_html', user: content_tag(:strong, @last_redaction.user.show_name(:surname), id: 'last-row-user' ))
            %span#last-row-date= deadline(@last_redaction.user.updated_at)