.modal-dialog(role='document')
  .modal-content
    .modal-header
      %h4= t 'matches.old_results'
    .modal-body
      .row
        .col-xs-6.text-center
          = image_tag match.team1.flag(:thumb), class: 'team-flag'
          %h3= match.team1.title
        .col-xs-6.text-center
          = image_tag match.team2.flag(:thumb), class: 'team-flag'
          %h3= match.team2.title
      - @results.each do |result|
        .panel.panel-default.text-center
          .panel-heading
            %srong.text-uppercase= link_to result.round.title, result.round, target: '_blank'
          .panel-body
            .col-xs-6
              %h3
                = result.team1 == match.team1 ? result.team1goal : result.team2goal

                - if result.ending != 'basic' && result.team1 == result.winner
                  %span.tip
                    - if result.ending == 'penalty'
                      = t("matches.#{(@round.type_id == 2) ? 'bullit' : result.ending}_short")
                      .tip-text= t("matches.#{(@round.type_id == 2) ? 'bullit' : result.ending}")
                    - elsif result.ending == 'overtime'
                      = t("matches.overtime_short#{(@round.type_id == 2) ? '_hockey' : nil}")
                      .tip-text= t("matches.overtime#{(@round.type_id == 2) ? '_hockey' : nil}")

            .col-xs-6
              %h3
                = result.team2 == match.team2 ? result.team2goal : result.team1goal

                - if result.ending != 'basic' && result.team2 == result.winner
                  %span.tip
                    - if result.ending == 'penalty'
                      = t("matches.#{(@round.type_id == 2) ? 'bullit' : result.ending}_short")
                      .tip-text= t("matches.#{(@round.type_id == 2) ? 'bullit' : result.ending}")
                    - elsif result.ending == 'overtime'
                      = t("matches.overtime_short#{(@round.type_id == 2) ? '_hockey' : nil}")
                      .tip-text= t("matches.overtime#{(@round.type_id == 2) ? '_hockey' : nil}")

          .panel-footer
            - user_forecast = result.forecasts.where(user: current_user).first
            - if user_forecast
              .row
                .col-xs-4.text-right
                  %strong= user_forecast.match.team1 == match.team1 ? user_forecast.team1goal : user_forecast.team2goal
                .col-xs-4
                  .text-uppercase= t 'matches.your_old_result'
                .col-xs-4.text-left
                  %strong= user_forecast.match.team2 == match.team2 ? user_forecast.team2goal : user_forecast.team1goal

    .modal-footer
      %button.btn.btn-default(data-dismiss='modal')= t 'shared.close'
