%h1 Listing matches

-if can? :new, [@round, Match]
  = link_to 'New Match', new_round_match_path(@round)


%table
  %tr
    %th Team1
    %th Team2
    %th Team1goal
    %th Team2goal
    %th
    %th
    %th

  - @matches.each do |match|
    %tr
      %td= match.team1.title
      %td= match.team2.title
      %td= match.team1goal
      %td= match.team2goal
      %td= link_to 'Show', [@round, match]
      - if can? :manage, match
        %td= link_to 'Edit', edit_round_match_path(@round, match)
        %td= link_to 'Destroy', [@round, match], :method => :delete, :data => { :confirm => 'Are you sure?' }

%br


