.card
  .card-header
    = formtitle

  = bootstrap_form_for @object, layout: :horizontal do |f|
    .card-body
      = f.hidden_field :parent_id
      = f.text_field :title, autofocus: true
      = f.select :show_type, InfocenterCategory::SHOWTYPES.map { |c| c }, {}, { class: 'selectpicker' }
      = f.select :table_ids,
        Table.all.map { |t| [t.title, t.id] }, { include_blank: t('shared.select') }, { class: 'selectpicker' }

      #simple-changecolor.colorpicker-component
        = f.text_field :color,
          prepend: content_tag(:span, content_tag(:i), class: 'colorpicker-input-addon')

    .card-footer
      = f.form_group do
        = f.primary t('shared.save')
        = link_to t('shared.cancel'), categories_path, class: 'btn btn-secondary'
