- set_meta_tags title: t('shared.calendar')

.row.mb-3
  .col
    .text-right
      = link_to '#search-form-collapse', data: { toggle: params[:q] ? '' : 'collapse' }, class: 'btn btn-outline-primary btn-sm mr-2' do
        = fa_icon 'filter', text: t('shared.filter')
    = render 'members/search_form', url: vac_path, only_select: false

.row.mt-2
  .col
    = link_to infocenter_category_path(@object, date: (@current_date - 1.month).strftime("%Y-%m-%d"), q: (params[:q] ? params[:q].permit! : nil)), class: 'btn btn-primary' do
      = fa_icon(:arrow_left)
      = rus_month(@current_date-1.month)
  .col.text-center
    %h1
      = rus_month(@current_date)
      = @current_date.year
  .col.text-right
    = link_to infocenter_category_path(@object, date: (@current_date + 1.month).strftime("%Y-%m-%d"), q: (params[:q] ? params[:q].permit! : nil)), class: 'btn btn-primary' do
      = rus_month(@current_date+1.month)
      = fa_icon(:arrow_right)
.row
  .col
    = render 'infocenter_categories/vac_table'