.card
  .card-header
    = t ('tables.add')

  = bootstrap_form_for @object, layout: :horizontal do |f|
    .card-body
      = f.select :table_ids,
        Table.all.map { |t| [t.title, t.id] }, { include_blank: t('shared.select') }, { class: 'selectpicker', multiple: true }

    .card-footer
      = f.primary t('shared.save')
      = link_to t('shared.cancel'), :back, class: 'btn btn-secondary'
