- set_meta_tags title: @object.title

.card
  = render 'header'
  .card-body
    .row.mb-3
      .col
        %span.h3.text-muted= @object.title
        - if can?(:manage, @object) || can?(:new, Card)
          .btn-group
            .btn.btn-sm.btn-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
              = fa_icon 'cog'
            %ul.dropdown-menu
              = link_to t('cards.new'), new_infocenter_category_card_path(@object), class: 'dropdown-item'
              = link_to t('tables.add'), add_table_infocenter_category_path(@object), class: 'dropdown-item'
              .dropdown-divider
              = link_to t('shared.edit'), edit_infocenter_category_path(@object), class: 'dropdown-item'
              = link_to t('shared.del'), @object, method: :delete, data: { confirm: t('shared.sure') }, class: 'dropdown-item'

    .row
      .col
        - case @object.show_type
        - when 'grid'
          .row.row-cols-xl-5.row-cols-lg-4.row-cols-md-4.row-cols-sm-3.row-cols-2.justify-content-center
            = render @cards
        - when 'single'
          - @cards.each do |card|
            = image_tag url_for(card.doc), class: 'img-fluid'
        - when 'zoom'
          = render partial: 'cards/zoom_grid', collection: @cards, as: :card
        - when 'vacations'
          = render 'vac'
    .row
      .col
        = render 'tables/inline_table', tables: @tables