= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put, class: 'form-horizontal' }) do |f|

  %fieldset
    %legend Смените ваш пароль

    = devise_error_messages!
    = f.hidden_field :reset_password_token
    .control-group
      = f.label :password, "Новый пароль", class: 'control-label'
      .controls= f.password_field :password, :autofocus => true
    .control-group
      = f.label :password_confirmation, "Подвердите пароль", class: 'control-label'
      .controls= f.password_field :password_confirmation
    .controls= f.submit "Сменить пароль"
= render "users/shared/links"
