.card.mt-5
  .card-header
    Смените ваш пароль
  .card-body
    = bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), layout: :horizontal, html: { method: :put}) do |f|
      = f.hidden_field :reset_password_token
      = f.password_field :password, autofocus: true,
        autocomplete: 'new-password',
        help: (@minimum_password_length ? "#{t('devise.password_min', count: @minimum_password_length)}": nil)
      = f.password_field :password_confirmation, autocomplete: 'new-password'
      = f.primary 'Сменить пароль'

  .card-footer
    = render 'users/shared/links'
