.row
  .col-md-8
    .page-header
      %h4= t 'devise.forgot'
    = bootstrap_form_for(resource, :as => resource_name, :url => password_path(resource_name), layout: :horizontal, html: { :method => :post }) do |f|
      = f.email_field :email, autofocus: true
      = f.form_group do
        = f.primary t('devise.sendmepassword')
.row
  .col-md-6= render "users/shared/links"
