= bootstrap_form_for [@infocenter_category, @card] do |f|
  = render 'application/error', object: @card

  = f.text_field :title
  = f.file_field :doc

  = f.form_group do
    = f.primary t('shared.save')
    = link_to t('shared.back'), @infocenter_category, class: 'btn btn-secondary'

