- model_class = Category
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @category.title
%p
  %strong= model_class.human_attribute_name(:ancestry) + ':'
  %br
  = @category.ancestry

.form-group
  = link_to t('.back', :default => t("helpers.links.back")), categories_path, class: 'btn btn-default'
  = link_to t('shared.edit'), edit_category_path(@category), class: 'btn btn-default'
  = link_to t('shared.del'), category_path(@category), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger'
