= bootstrap_form_for @material, layout: :horizontal do |f|
  = f.text_field :title
  = f.text_area :content
  = f.form_group do
    - User::GROUPS.each_with_index do |p, index|
      .checkbox
        = check_box_tag "material[groups][#{p}]",
          p,
          ((@material.groups && (@material.groups.include? p)) ? true : false),
          { name: "material[groups][]", validate: true }
        = label_tag "material[groups][#{p}]" do
          %span.text= t("profile.purpose.#{p}")
  = hidden_field_tag "materials[groups][]", ""
  = f.form_group do
    = f.primary
