- if can? :manage, Machine
  %p= link_to t('shared.add'), new_machine_path, class: 'btn btn-primary'

- @machines.each do |machine|
  .row
    .col-md-12.well
      .row
        .col-md-6
          %p
            .page-header
              %h4
                = link_to machine.title, machine
                %small
                - if can? :manage, machine
                  = link_to t('shared.edit'), edit_machine_path(machine), class: 'btn btn-default btn-xs'
                  = link_to t('shared.del'), machine_path(machine), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-xs btn-danger'

          %table.table.table-striped.table-hover.table-machines
            %thead
              %tr
                %th= Task.human_attribute_name(:title)
                %th= Profile.human_attribute_name(:surname)
                %th= Task.human_attribute_name(:start_time)
                %th= Task.human_attribute_name(:end_time)
                %th= Task.human_attribute_name(:complete)
                %th
            %tbody
              - machine.tasks.order(:start_time).each do |task|
                %tr
                  %td= link_to task.title, machine_task_path(machine, task)
                  %td= link_to task.user.profile.surname, user_profile_path(task.user)
                  %td= l task.start_time, format: :short
                  %td= l task.end_time, format: :short
                  %td= task.complete.to_s + '%'
                  %td
                    = link_to edit_machine_task_path(machine, task), class: 'btn btn-default btn-xs btn-task-edit' do
                      = fa_icon 'edit'
              - if can? :new, Task
                %tr
                  %td(colspan=6)
                    = link_to new_machine_task_path(machine), class: 'btn btn-default' do
                      = fa_icon 'plus'
        .col-md-6
          %div{class: "calendar_view_#{machine.id}"}
          :javascript
            $(".calendar_view_#{machine.id}").fullCalendar({
              locale: "ru",
              timezone: 'Russia/Moscow',
              eventSources: ["/machines/#{machine.id}/tasks.json"],
              eventRender: function(event, element) {
                return $(element).tooltip({
                  title: event.tooltip,
                  container: "body"
                });
              },
              defaultView: 'month',
              schedulerLicenseKey: 'GPL-My-Project-Is-Open-Source'
            });