- model_class = Machine
.page-header
  %h1= t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:title) + ':'
  %br
  = @machine.title

.form-group
  = link_to t('.back', :default => t("helpers.links.back")), machines_path, class: 'btn btn-secondary'
  = link_to t('shared.edit'), edit_machine_path(@machine), class: 'btn btn-secondary'
  = link_to t('shared.del'), machine_path(@machine), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger'
