= bootstrap_form_for @subscribe, layout: :horizontal do |f|

  = f.text_field :fullname
  = f.text_field :departament
  = f.text_area :position
  = f.text_field :place
  = f.text_field :phone_inter
  = f.text_field :phone_city
  = f.text_field :email

  = f.form_group do
    = f.primary
    = link_to t('shared.cancel'), subscribes_path, class: 'btn btn-default'