- set_meta_tags title: t('shared.phonebook')

- model_class = Subscribe
- count = @subscribes.count

= content_for :sidebar do

  .col-xs-12
    .panel.panel-default
      .panel-body
        = bootstrap_form_for(@q, url: subscribes_path, method: :get) do |f|
          = f.text_field :fullname_cont, placeholder: t('subscribes.search'), hide_label: true
          = f.select :departament_eq,
            options_for_select(Subscribe.uniq.order(:departament).pluck(:departament), selected: (params[:q][:departament_eq] if params[:q]), include_blank: false),
            { prompt: t('subscribes.choose_departament'), hide_label: true }

          = f.primary t('shared.search')

        - if can? :import, Subscribe
          = link_to t('subscribes.import'), '#import', class: 'btn btn-primary', role: 'button', data: { toggle: 'modal', target: '#import' }
          #import.modal.fade(tabindex='-1' role='dialog' aria-labelledby='myModalLabel')
            .modal-dialog(role='document')
              .modal-content
                = form_tag import_subscribes_path, multipart: true do
                  .modal-header
                    %h3#myModalLabel= t('subscribes.import')
                    %button.close(data-dismiss='modal' aria-hidden='true')
                  .modal-body= file_field_tag :file
                  .modal-footer
                    %button.btn.btn-default(data-dismiss='modal')= t 'shared.cancel'
                    = submit_tag t('shared.import'), class: 'btn btn-primary'

  - if user_signed_in?
    - current_count= current_user.likees(Subscribe).count
    .col-xs-12
      .favorites-panel{data: { spy: 'affix' }, class: (current_count == 0) ? 'hidden' : nil}
        .panel.panel-default
          .panel-body
            %p= link_to t('albums.favorites'), favorites_subscribes_path, remote: true
            %p
              %span.likees-count= plural current_count, 'subscribe'

.panel.panel-default
  .panel-heading
    .panel-title
      = t 'shared.phonebook'
      %small.text-muted
        = count > 0 ?  plural(count, 'subscribe') : t('subscribes.not_found')
        = link_to 'new', new_subscribe_path, class: 'btn btn-default btn-xs' if can? :manage, Subscribe
      %small.text-muted.pull-right= t 'subscribes.actual_date'

  .panel-body
    - if count > 0
      %nav.text-center(aria-label='...')
        %ul.pagination.pagination-sm
          - (('А'..'Я').to_a - %w(Й Ь Ъ Ы)).each do |letter|
            %li{ class: params[:q] && (letter == params[:q][:fullname_start]) ? 'active' : nil  }= link_to letter, subscribes_path(q: {fullname_start: letter}), class: 'btn btn-default btn-xs'
  %table.table.table-striped
    %thead
      %tr
        - if user_signed_in?
          %th
        %th= sort_link @q, :fullname, model_class.human_attribute_name(:fullname)
        %th= sort_link @q, :departament, model_class.human_attribute_name(:departament)
        %th= model_class.human_attribute_name(:phone_inter)
        %th= model_class.human_attribute_name(:phone_city)
        %th= model_class.human_attribute_name(:email)
    %tbody#phonebook.endless= render(partial: 'subscribe', collection: @subscribes)
    .hidden= will_paginate @subscribes, class: 'paginator'

= render 'main/toplink'