- model_class = Year
.page-header
  %h1=t '.title', :default => model_class.model_name.human.titleize

%p
  %strong= model_class.human_attribute_name(:year) + ':'
  %br
  = @year.year

.form-actions
  = link_to 'new purchase', new_year_purchase_path(@year), :class => 'btn'
  = link_to t('.back', :default => t("helpers.links.back")), years_path, :class => 'btn'
  = link_to t('shared.edit'), edit_year_path(@year), :class => 'btn'
  = link_to t('shared.del'), year_path(@year), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-danger'
