%header
  %head
    = display_meta_tags site: 'REDDEVIL'
    %meta{"http-equiv" => "X-UA-Compatible", :content => "IE=edge" }/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta(name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no")
    = csrf_meta_tags
    = csp_meta_tag
    = favicon_link_tag
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = yield :js
    = render 'users/user_style' if user_signed_in?
