%nav.navbar.navbar-expand-lg.navbar-light.bg-light.fixed-top
  = link_to root_path, class: 'navbar-brand' do
    %span.brand-letter>< R
    %span>< EDDEVIL
  %button.navbar-toggler{ type: 'button', aria: { collapse: 'false', controls: 'reddevil-collapse', expanded: "false", label: "Toggle navigation" }, data: { toggle: 'collapse', target: '#reddevil-collapse' } }
    %span.navbar-toggler-icon

  .collapse.navbar-collapse#reddevil-collapse
    %ul.navbar-nav.mr-auto
      - if can? :read, Member
        %li.mr-3.nav-item{class: (params[:controller] == 'members') ? 'active' : nil}
          = link_to t('member.title'), members_path, class: 'nav-link'
      %li.mr-3.nav-item{class: (%w(main calendar).include? params[:action]) ? 'active' : nil}
        = link_to t('shared.calendar'), calendar_path, class: 'nav-link'
      %li.mr-3.nav-item{class: (params[:controller] == 'docs') ? 'active' : nil}
        = link_to t('docs.title'), docs_path, class: 'nav-link'

      - if can? :read, Substrate
        %li.mr-3.nav-item{class: (params[:controller] == 'substrates') ? 'active' : nil}
          = link_to substrates_path, class: 'nav-link' do
            = fa_icon 'wrench'
            = t('substrates.title')

      - if can? :read, Room
        %li.mr-3.nav-item{class: (params[:controller] == 'rooms') ? 'active' : nil}
          = link_to rooms_path, class: 'nav-link' do
            = fa_icon 'users'
            = t('chat.title')

      - if (can? :read, Round) || (can? :read, Album)
        %li.nav-item.dropdown
          = link_to '#', class: 'dropdown-toggle nav-link', role: 'button', data: { toggle: 'dropdown' }, id: 'dropmedia' do
            %i.fa.fa-list
            = t 'shared.media'
          .dropdown-menu(aria-labelledby='dropmedia')
            - if can? :manage, Message
              = link_to messages_path, class: 'nav-link' do
                = fa_icon 'envelope'
                &nbsp;
                = t 'message.title'

            .dropdown-divider

            - if can? :read, Album
              = link_to albums_path, class: 'nav-link' do
                = fa_icon 'music'
                &nbsp;
                = t 'shared.music'
            - if can? :read, Round
              = link_to rounds_path, class: 'nav-link' do
                = fa_icon 'futbol-o'
                &nbsp;
                = t('shared.sport')
            - if can? :show, [current_user, Folder]
              = link_to [current_user, Folder], class: 'nav-link' do
                = fa_icon 'hdd-o'
                &nbsp;
                = t('dataset.title')

    %ul.nav.navbar-nav.navbar-right
      = render 'users/userbar'