.btn-group-vertical.btn-block.main-menu
  = link_to current_user, class: "btn btn-light text-left #{ (params[:controller] == 'users' && params[:id] == current_user.to_param) ? 'active' : nil }" do
    = fa_icon 'user', text: t('profiles.my')
  = link_to members_path, class: "btn btn-light text-left #{ (params[:controller] == 'members') ? 'active' : nil }" do
    = fa_icon 'users', text: t('member.title')
  = link_to docs_path, class: "btn btn-light text-left #{ (params[:controller] == 'docs') ? 'active' : nil }" do
    = fa_icon 'book', text: t('docs.title')
  = link_to infocenter_path, class: "btn btn-light text-left #{ (params[:controller] == 'infocenter_categories' || params[:action] == 'infocenter') ? 'active' : nil }" do
    = fa_icon 'info-circle', text: t('infocenter.title')
  - if can? :read, Album
    = link_to albums_path, class: "btn btn-light text-left #{ (%w[albums songs].include? params[:controller]) ? 'active' : nil }" do
      = fa_icon 'music', text: t('shared.music')
  - if can? :read, Round
    = link_to rounds_path, class: "btn btn-light text-left #{ (%w[rounds].include? params[:controller]) ? 'active' : nil }" do
      = fa_icon 'futbol', text: t('shared.sport')
  = link_to calendar_path, class: "btn btn-light text-left #{ (%w[calendar].include? params[:action]) ? 'active' : nil }" do
    = fa_icon 'calendar-alt', text: t('shared.calendar')
  - if current_user.role? :admin
    = link_to messages_path, class: "btn btn-light text-left #{ (params[:controller] == 'messages') ? 'active' : nil }" do
      = fa_icon 'envelope', text: t('message.title')
  - if can? :read, Room
    = link_to rooms_path, class: "btn btn-light text-left #{ (params[:controller] == 'rooms') ? 'active' : nil }" do
      = fa_icon 'comments', text: t('chat.title')
      %sup beta
- if current_user.role? :admin
  .btn-group-vertical.btn-block.main-menu
    = link_to office_notes_path, class: "btn btn-light text-left #{ (params[:controller] == 'office_notes') ? 'active' : nil }" do
      = fa_icon 'file-alt', text: t('office_notes.title')

- if can? :read, Manufacture
  .btn-group-vertical.btn-block.main-menu
    = link_to manufactures_path, class: "btn btn-success text-left #{ (params[:controller] == 'manufactures') ? 'active' : nil }" do
      = fa_icon 'hammer', text: t('manufactures.title_with')

- if can? :read, Substrate
  .btn-group-vertical.btn-block.main-menu
    = link_to substrates_path, class: "btn btn-success text-left #{ (params[:controller] == 'substrates') ? 'active' : nil }" do
      = fa_icon 'wrench', text: t('substrates.title_with')
