!!!
%html{ lang: 'ru' }
  = render 'layouts/header'

  %body
    = render 'layouts/menu'
    %main.pt-4.mt-5(role='main')
      - if @messages
        .container-fluid
          = render 'messages/messages'
      .container-fluid
        - if flash_messages
          .row
            .col= flash_messages
        = yield

    = render 'layouts/footer'