!!!
%html{ lang: 'ru' }
  = render 'layouts/header'

  %body
    %header= render 'main/menu'
    %main.pt-4.mt-5(role='main')
      .container-fluid
        .row
          .col-12
            = flash_messages
        = yield

    = render 'layouts/footer'
