!!! 5
%html{ lang: 'ru' }
  = render 'layouts/header'

  %body
    = render 'main/menu'
    .container-fluid
      .row
        .col-xs-12= bootstrap_flash
      = yield

    = render 'layouts/footer'
    = javascript_include_tag 'salvattore'
