!!!
%html{ lang: 'ru' }
  = render 'layouts/header'

  %body
    = render 'layouts/menu'
    %main.pt-4.mt-5(role='main')
      .container-fluid
        = render 'messages/messages'
      .container-fluid
        - if flash_messages
          .row
            .col= flash_messages

        .row.mt-4
          .col-4.col-md-2
            = render 'layouts/vertical_menu'

          .col-8.col-md-10
            .row
              = render 'users/user_sideblock', user: @user || @member.user
              .col
                = yield

    = render 'layouts/footer'