!!!
%html{ lang: 'ru' }
  = render 'layouts/header'

  %body
    = render 'layouts/menu'

    %main.pt-4.mt-5(role='main')
      .container-fluid.main-content
        - if @messages
          = render 'messages/messages'
        .row
          .col-12= flash_messages
        .row
          .col-md-3
            = yield :sidebar
            - if %w[albums songs].include? params[:controller]
              .favorites-panel{data: { spy: 'affix' }, class: (current_user.likees(Song).count + current_user.likees(Album).count) == 0 ? 'hidden' : nil}
                .card
                  .card-body
                    = link_to favorites_albums_path do
                      = t 'albums.favorites'
                    %p
                      %span.likees-album-count= plural current_user.likees(Album).count, 'album'
                      %span.likees-count= plural current_user.likees(Song).count, 'song'
          .col-md-9
            = yield

    = render 'layouts/footer'
