.card
  .card-header
    = member.fullname
    .btn-group.pull-right(role="group")
      %button.btn.btn-sm.btn-primary.dropdown-toggle#btnCurMember{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: "true", expanded: "false"} }
        = fa_icon 'cog'
      .dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'btnCurMember' } }
        = link_to t('shared.edit'), edit_member_path(member), class: 'dropdown-item'
        = link_to t('member.vacation'), manage_holidays_member_path(member), class: 'dropdown-item'

  .card-body
    %dl.row
      %dt.col-sm-3.text-right= Member.human_attribute_name(:work_phone)
      %dd.col-sm-9= member.work_phone || content_tag(:span, t('shared.empty'), class: 'text-muted')
      %dt.col-sm-3.text-right= Member.human_attribute_name(:short_number)
      %dd.col-sm-9= member.short_number || content_tag(:span, t('shared.empty'), class: 'text-muted')
      %dt.col-sm-3.text-right= Member.human_attribute_name(:phone)
      %dd.col-sm-9= member.phone || content_tag(:span, t('shared.empty'), class: 'text-muted')
      %dt.col-sm-3.text-right= Member.human_attribute_name(:email)
      %dd.col-sm-9= member.email || content_tag(:span, t('shared.empty'), class: 'text-muted')
      %dt.col-sm-3.text-right= Member.human_attribute_name(:birth)
      %dd.col-sm-9= l(member.birth,  format: :short) || content_tag(:span, t('shared.empty'), class: 'text-muted')
