.card
  .card-header
    = member.fullname
    .btn-group.float-right(role='group')
      %button.btn.btn-sm.btn-primary.dropdown-toggle#btnCurMember{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
        = fa_icon 'cog'
      .dropdown-menu.dropdown-menu-right{ aria: { labelledby: 'btnCurMember' } }
        = link_to t('shared.edit'), edit_member_path(member), class: 'dropdown-item'
        = link_to t('member.vacation'), manage_holidays_member_path(member), class: 'dropdown-item'

  .card-body
    %dl.row.my-0
      - if member
        - %i[group position work_phone short_number phone email].each do |attr|
          %dt.col-sm-3.text-right
            = Member.human_attribute_name(attr)
          %dd.col-sm-9
            - if member[attr].present?
              - case attr
              - when :group
                = t("member.groups.#{member[attr]}")
              - when :birth
                = l(member[attr], format: :short)
              - else
                = member[attr]
            - else
              = empty_tag
