= bootstrap_form_for @member, layout: :horizontal do |f|
  = f.text_field :surname
  = f.text_field :name
  = f.text_field :patronymic
  = f.text_field :phone
  = f.text_field :short_number
  = f.email_field :email
  = f.date_select :birth, include_blank: true, start_year: 1930, end_year: Time.now.year-15
  = f.form_group do
    = f.primary
    = link_to t('shared.cancel'), members_path, class: 'btn btn-default'
