.card
  .card-header
    = formtitle
  = bootstrap_form_for @member, layout: :horizontal do |f|
    .card-body
      = render 'member_fields_full', f: f
    .card-footer
      = f.form_group do
        = f.primary
        = link_to t('shared.cancel'), members_path, class: 'btn btn-secondary'
