= f.text_field :work_phone, control_col: 'col-8', label_col: 'col'
= f.text_field :short_number, control_col: 'col-8', label_col: 'col'
= f.text_field :phone, control_col: 'col-8', label_col: 'col'
= f.email_field :email, control_col: 'col-8', label_col: 'col'
= f.text_field :birth, class: 'datepicker', value: (f.object.birth.to_datetime.strftime('%d.%m.%Y') if f.object.birth.present?), control_col: 'col-8', label_col: 'col'
- if (current_user&.role? :admin)
  = f.select :user_id, (User.order(:email).collect { |u| [u.email, u.id]}), { include_blank: t('shared.to_select'), control_col: 'col-8', label_col: 'col' }
  = f.form_group do
    = f.check_box :archive_flag, { control_col: 'col-8', label_col: 'col'}
