.tab-content
  .tab-pane.active
    - if params[:action] == 'archive'
      %p.bg-info
        .alert.alert-info= t 'member.archive'
    %table.table.table-striped
      %thead
        %tr
          %th
          %th
            = fa_icon 'chevron-down', class: 'pointer icon-padding-r', id: 'show_all_members', title: t('shared.show_all')
            = sort_link @q, :surname, Member.human_attribute_name(:surname)
          - unless params[:action] == 'archive'
            %th= Member.human_attribute_name(:work_phone)
            %th= Member.human_attribute_name(:short_number)
            %th= Member.human_attribute_name(:email)
          - if current_user.role? :admin
            %th= Member.human_attribute_name(:user_id)
          - if can? :manage, Member
            %th
      %tbody
        - members.each_with_index do |member, index|
          = content_tag_for(:tr, member) do
            %td.text-muted= index+1
            %td
              %span.membername.pointer
                - if member.phone? || member.birth?
                  = fa_icon 'chevron-down', class: 'icon-padding-r icon-showicon'

                = member.full_name
              - if member.phone? || member.birth?
                .hidden_info
                  - if member.phone?
                    %p.animated.flipInX
                      = fa_icon 'phone', class: 'icon-padding-r', text: number_to_phone(member.phone, area_code: true)
                  - if member.birth?
                    %p.animated.flipInX
                      = fa_icon 'gift', class: 'icon-padding-r', text: show_birth(member)
            - unless params[:action] == 'archive'
              %td
                - if member.work_phone?
                  = number_to_phone(member.work_phone, area_code: true)
              %td= member.short_number
              %td= mail_to member.email
              - if current_user.role? :admin
                %td
                  - if member.user
                    id=#{member.user_id} (#{member.user.email})
            - if can? :manage, member
              %td
                .btn-group
                  %button.btn.btn-xs.btn-default.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
                    = fa_icon 'cog'
                  %ul.dropdown-menu.pull-right
                    %li= link_to t('shared.edit'), edit_member_path(member)
                    %li= link_to t('member.vacation'), manage_holidays_member_path(member)
                    - if can? :destroy, member
                      %li= link_to t('shared.del'), member_path(member), method: :delete, data: { confirm: t('shared.sure') }