%ul.nav.nav-tabs.card-header-tabs#member_info.float-left
  %li.nav-item
    = link_to members_path, class: "nav-link #{params[:action] == 'index' ? 'active' : nil}" do
      = fa_icon :users, text: t('member.title')
  %li.nav-item
    = link_to stat_members_path, class: "nav-link #{params[:action] == 'stat' ? 'active' : nil}" do
      = fa_icon :chart_bar, text: t('shared.stat')
  %li.nav-item
    = link_to career_positions_path, class: "nav-link #{params[:action] == 'career' ? 'active' : nil}" do
      = fa_icon :user_tie, text: t('shared.career')
  %li.nav-item
    = link_to archive_members_path, class: "nav-link #{params[:action] == 'archive' ? 'active' : nil}" do
      = fa_icon :archive, text: t('shared.archive')

- if params[:action] == 'index' && params[:controller] == 'members'

  .float-right
    - if can? :create, Member
      = link_to new_member_path, class: 'btn btn-sm btn-outline-primary mr-3' do
        = fa_icon :plus, text: t('member.adding')

    - if can? :manage, Department
      = link_to departments_path, class: 'btn btn-sm btn-outline-info mr-3' do
        = t('departments.title')

    = link_to '#export_list', class: 'btn btn-sm btn-outline-secondary ', data: { toggle: 'modal', target: '#export_list' } do
      = fa_icon 'upload', text: t('member.download')

    .modal.fade#export_list(role='dialog' tabindex="-1" role="dialog" aria-labelledby="exportListLabel" aria-hidden="true")
      .modal-dialog
        = search_form_for @q, method: :get, layout: :horizontal, html: { class: 'modal-content' } do |f|
          .modal-header
            .lead= t 'member.specify_format'
          .modal-body
            .form-group
              = f.select :department_id_eq, {}, { include_blank: '== Выберите отдел ==' }, { class: 'selectpicker form-control form-control-sm' } do
                - @departments.each do |d|
                  = content_tag(:option, d.title, value: d.id, selected: params[:q] && (params[:q][:department_id_eq] == d.to_param) )
            .form-group
              = t 'member.showing'
            - %i[number position birth phone work_phone short_number other_text].each do |field|
              .form-group
                = check_box_tag "showing_#{field}", custom: :switch
                = label_tag "showing_#{field}", ((field == :other_text) ? t('member.other_text') : Member.human_attribute_name(field))
            .btn-group.btn-group-toggle{ data: { toggle: 'buttons' } }
              - %i[pdf xlsx].each do |format|
                %label.btn.btn-outline-primary{ class: format == :pdf ? 'active' : false }
                  = radio_button_tag :format, format, format == :pdf, disabled: false, autocomplete: 'off'
                  = fa_icon "file-#{format == :xlsx ? 'excel' : format}", text: (format == :xlsx ? 'Excel' : 'PDF')
          .modal-footer
            = f.submit t('shared.download'), class: 'btn btn-primary'