.row
  .col-xs-12
    %ul.nav.nav-tabs#member_info
      %li{ class: params[:action] == 'index'    ? 'active' : nil }
        = link_to t('member.title'), members_path
      %li{ class: params[:action] == 'holidays' ? 'active' : nil }
        = link_to t('member.vacation'), holidays_members_path
      %li{ class: params[:action] == 'stat'     ? 'active' : nil }
        = link_to t('shared.stat'), stat_members_path
      %li{ class: params[:action] == 'archive'  ? 'active' : nil }
        = link_to t('shared.archive'), archive_members_path
      - if can? :create, Member
        %li= link_to t('shared.add'), new_member_path
      - if params[:action] == 'index'
        %li.pull-right
          .btn-group
            - %w[pdf xls].each do |file_format|
              = link_to members_path(format: file_format), class: 'btn btn-default', target: '_blank' do
                = fa_icon "file-#{file_format == 'xls' ? 'excel' : file_format}-o", text: (file_format == 'xls' ? 'Excel' : 'PDF')
