.card-body.bg-info.text-white
  = search_form_for @q, url: url do |f|
    .row
      - unless only_select
        .col
          .form-group.row.mb-0
            .col
              = f.text_field :name_or_surname_or_patronymic_or_email_or_position_cont,
                placeholder: t('shared.search_text'),
                class: 'form-control form-control-sm'
      .col
        .form-group.row.mb-0
          = f.label :group_eq,
            Member.human_attribute_name(:group),
            class: 'col-sm-3 col-form-label text-right'
          .col
            = f.select :group_eq, {}, { include_blank: '== Выберите отдел ==' }, { class: 'selectpicker form-control form-control-sm' } do
              - Member::GROUPS.each do |g|
                = content_tag(:option, t("member.groups.#{g}"), value: g, selected: params[:q] && (params[:q][:group_eq] == g) )
      .col
        .form-group.row.text-right.mb-0
          .col
            = f.button class: 'btn btn-warning btn-sm btn-block' do
              = fa_icon 'search', text: t('shared.to_search')
