- check_phone_birth = member.phone? || member.birth?

= content_tag_for(:tr, member) do
  %td.text-muted= member_counter+1
  %td
    %span.membername.pointer
      .row
        .col-auto
          = fa_icon 'chevron-down',
            class: "icon-padding-r icon-showicon #{check_phone_birth ? nil : 'invisible'}"
        .col.pl-0
          = member.fullname
          - if member.position?
            .text-muted= member.position
    - if check_phone_birth
      .hidden_info
        - if member.phone?
          %p.animated.flipInX
            = fa_icon 'phone', class: 'icon-padding-r', text: number_to_phone(member.phone, area_code: true)
        - if member.birth?
          %p.animated.flipInX
            = fa_icon 'gift', class: 'icon-padding-r', text: show_birth(member)
  - unless params[:action] == 'archive'
    %td
      .row
        .col
          - if member.work_phone?
            = fa_icon 'mobile-alt', class: 'text-muted mr-2', text: number_to_phone(member.work_phone, area_code: true)
        .col
          - if member.short_number?
            = fa_icon 'phone', class: 'text-muted mr-2', text: member.short_number
        .col
          - if member.email?
            = fa_icon 'envelope', class: 'text-muted mr-2', text: mail_to(member.email)
  - if can? :manage, member
    %td.text-right
      .btn-group
        %button.btn.btn-sm.btn-outline-secondary.dropdown-toggle{ type: 'button', data: { toggle: 'dropdown' }, aria: { haspopup: 'true', expanded: 'false' } }
          = fa_icon 'cog'
        %ul.dropdown-menu.dropdown-menu-right
          = link_to t('shared.edit'),           edit_member_path(member),           class: 'dropdown-item'
          = link_to t('positions.title'),       [member, Position],                 class: 'dropdown-item'
          = link_to member_remote_link(member), toggle_remote_member_path(member),  class: 'dropdown-item'
          = link_to t('member.vacation'),       list_member_vacations_path(member), class: 'dropdown-item'
          - if can? :destroy, member
            = link_to t('shared.del'), member_path(member), method: :delete, data: { confirm: t('shared.sure') }, class: 'dropdown-item'