= f.hidden_field :flag, value: vacation_flag

.form-group.nested-fields
  .row
    .col-10
      .row.input-daterange{ style: !f.object.enddate.nil? && (f.object.enddate < Date.today) ? "opacity:0.5" : nil }
        .col-6
          .input-group.mb-2
            .input-group-prepend
              .input-group-text
                = t('vacations.from')
            = f.text_field :startdate,
                  value: (f.object.startdate.to_datetime.strftime('%d.%m.%Y') if f.object.startdate?),
                  class: 'form-control'
        .col-6
          .input-group.mb-2
            .input-group-prepend
              .input-group-text
                = t('vacations.to')

            = f.text_field :enddate,
                value: (f.object.enddate.to_datetime.strftime('%d.%m.%Y') if f.object.enddate?),
                class: 'form-control'
    .col-2
      = link_to_remove_association f, class: 'btn btn-danger', data: { confirm: t('shared.sure'), toggle: 'tooltip' }, title: t('shared.del') do
        = fa_icon 'times'
