!!!
%html
  %head
    %meta{ charset: 'utf-8'}
    :css
      body {font-size:12px;font-family: Geneva, Arial, Helvetica, sans-serif; color: #333}
      .title {font-size:18px;text-align:center;margin-bottom:10px;}
      table {width:100%;border-collapse:collapse;}
      table, tr, td{border:1px solid #ddd;}
      tbody tr:nth-child(odd) {background:#eee}
      td{padding: 5px}
  %body
    .title= t 'member.title_list'
    %table
      %thead
        %tr
          %td №
          - if params[:showing_number]
            %td= Member.human_attribute_name(:number)
          %td= t 'member.fullname'
          - if params[:showing_position]
            %td= Member.human_attribute_name(:position)
          - if params[:showing_birth]
            %td= Member.human_attribute_name(:birth)
          - if params[:showing_phone]
            %td= Member.human_attribute_name(:phone)
          - if params[:showing_work_phone]
            %td= Member.human_attribute_name(:work_phone)
          - if params[:showing_short_number]
            %td= Member.human_attribute_name(:short_number)
          - if params[:showing_other_text]
            %td(style="width:400px;")= t 'member.other_text'
      %tbody
        - @members.each_with_index do |member, index|
          %tr
            %td
              = index + 1
            - if params[:showing_number]
              %td
                = member.number
            %td
              = member.fullname
            - if params[:showing_position]
              %td
                = member.position
            - if params[:showing_birth]
              %td
                - if member.birth
                  = show_birth(member)
            - if params[:showing_phone]
              %td
                - if member.phone?
                  = number_to_phone(member.phone, area_code: true)
            - if params[:showing_work_phone]
              %td
                - if member.work_phone?
                  = number_to_phone(member.work_phone, area_code: true)
            - if params[:showing_short_number]
              %td= member.short_number
            - if params[:showing_other_text]
              %td
