.row
  .span12
    .well
      %ul.nav.nav-tabs#member_info(data-toggle="tab")
        %li.active= link_to t('member.title'), '#users_info', 'data-toggle' => 'tab'
        %li= link_to t('shared.stat'), '#statitics', 'data-toggle' => 'tab'
        - if can? :create, Member
          %li= link_to t('shared.add'), new_member_path
      .tab-content
        .tab-pane#users_info.active
          %p.pull-right
            %span.btn-group
              = link_to members_path(format: 'pdf'), class: 'btn', target: '_blank' do
                %i.icon.icon-download-alt
                PDF
              = link_to members_path(format: 'xls'), class: 'btn' do
                %i.icon.icon-download-alt
                Excel
          %table.table.table-striped.ny-block
            %thead
              %tr
                %th
                %th= sort_link @q, :surname, Member.human_attribute_name(:surname)
                %th= Member.human_attribute_name(:short_number)
                %th= Member.human_attribute_name(:email)
                -if can? :manage, Member
                  %th= t '.actions', default: t('helpers.actions')
            %tbody
              - @members.each_with_index do |member, index|
                =content_tag_for(:tr, member) do
                  %td=index+1
                  %td
                    %span.membername
                      = member.full_name
                      -if member.phone.present? || member.birth.present?
                        %span.icon.showinfo.icon-chevron-down
                    -if member.phone.present? || member.birth.present?
                      .hidden_info
                        -if member.phone
                          %p
                            %span.icon.icon-phone
                            =number_to_phone(member.phone, area_code: true)
                        -if member.birth
                          %p
                            %span.icon.icon-gift
                            = show_birth member
                  %td
                    = member.short_number
                  %td
                    %span.icon.icon-email
                    = mail_to member.email
                  -if can? :manage, member
                    %td
                      = link_to t('shared.edit'), edit_member_path(member), class: 'btn btn-mini'
                      = link_to t('shared.del'), member_path(member), method: :delete, data: { confirm: t('shared.sure') }, class: 'btn btn-mini btn-danger'

        .tab-pane#statitics
          .stat-ages
            %h3= t 'member.ages'
            %p
              %span.label.label-info
                = t 'member.total'
                %span.badge.badge-warning
                  = plural(total = @member_ages.inject(:+), 'year')
              %span.label.label-info
                = t 'member.medium'
                %span.badge.badge-warning
                  = plural(total / @member_ages.length, 'year')

            - a={}.tap{ |h| Member.all.each { |m| h["#{m.surname} #{m.name}"] = m.age}}
            = bar_chart a.sort_by {|_key, value| value}, height: '700px', label: t('member.ages')

          %hr/

          .stat-days
            %h3= t 'member.dayname_stat'
            %p
              -@members_birth_days.each do |day|
                %span.label.label-info
                  = I18n.t("date.standalone_day_names")[day[0].to_i]
                  %span.badge.badge-warning= day[1]
            = line_chart Member.group_by_day_of_week(:birth, format: "%A").count, label: t('member.birth_count')

          %hr/

          .stat-month
            %h3= t 'member.month_stat'
            %p
              -@members_birth_months.each do |month|
                %span.label.label-info
                  = I18n.t("date.standalone_month_names")[month[0].to_i]
                  %span.badge.badge-warning= month[1]

            = column_chart Member.group_by_month_of_year(:birth, format: "%b").count, xtitle: 'Месяц', ytitle: 'Количество человек', label: t('member.birth_count')

          %hr/

          .stat-names
            %h3= t 'member.name_stat'
            %p
              - member_count = Member.group(:name).count
              - member_count.sort_by {|_key, value| value}.reverse.first(3).each do |m|
                %span.label.label-info
                  = m[0]
                  %span.badge.badge-warning= m[1]
            = pie_chart member_count, library: { legend: 'none' }
