.panel.panel-default
  .panel-heading
    .panel-title= t 'vacations.settings', name: @member.petrovich_fullname
  = bootstrap_form_for @member, layout: :horizontal do |f|
    .panel-body
      = f.fields_for :vacations do |vacation|
        = render 'vacation_fields', f: vacation
      = f.form_group do
        = link_to_add_association t('vacations.add'), f, :vacations, class: 'btn btn-default'
    .panel-footer
      = f.form_group do
        = f.primary t('shared.save')
        = link_to t('shared.cancel'), members_path, class: 'btn btn-default'
