= bootstrap_form_for [@table, @row], layout: :horizontal, html: { class: 'card' } do |f|
  .card-header= formtitle

  .card-body
    = f.fields_for :columnships do |c|
      - case c.object.column.column_type
      - when 'integer'
        = c.number_field :data, label: c.object.column.name, min: 0
      - when 'price'
        = c.number_field :data, label: c.object.column.name, step: 0.01, min: 0
      - when 'datetime'
        = c.date_field :data, label: c.object.column.name
      - when 'string'
        = c.text_field :data, label: c.object.column.name
      - when 'one_reference'
        = c.select :data, options_from_collection_for_select(Member.order(:surname), :id, :fullname, c.object.data), { include_blank: t('shared.select'), label: c.object.column.name }
      - when 'many_references'
        = c.select :data, options_from_collection_for_select(Member.order(:surname), :id, :fullname, c.object.data), { include_blank: t('shared.select'), label: c.object.column.name }, { multiple: true }
      - when 'boolean'
        = c.select :data, {}, { include_blank: t('shared.select'), label: c.object.column.name }, { class: 'selectpicker' } do
          - ['true', 'false'].each do |s|
            = content_tag(:option, s, value: s, data: { content: select_text(s) }, selected: s == c.object.data )
      - when 'status'
        = c.select :data, {}, { include_blank: t('shared.select'), label: c.object.column.name }, { class: 'selectpicker' } do
          - Table::Statuses.each do |s|
            = content_tag(:option, s, value: s, data: { content: select_text(s) }, selected: s == c.object.data )
      - else
        = c.text_area :data, label: c.object.column.name

  .card-footer
    = f.primary t('shared.save')
    = link_to t('shared.cancel'), @table, class: 'btn btn-secondary'