.card
  = bootstrap_form_for @operation do |f|
    .card-header
      - if params[:action] == 'edit'
        = render 'application/breadcrumb', titles: [link_to(t('operations.title'), Operation), @operation.title, formtitle], class_name: Manufacture
      - else
        = render 'application/breadcrumb', titles: [link_to(t('operations.title'), Operation), formtitle], class_name: Manufacture
    .card-body
      = render 'application/error', object: @operation
      = f.text_field :title
    .card-footer
      = f.submit t('shared.save')
      .float-right
        = yield